Repository pytorch/vision, pull requests merged in 2020-05, with the labels that each got.

#2191 vision classification QAT tutorial: fix for DDP
  references/classification/train_quantization.py
Labels: module: models.quantization

#2189 Add all the latest models to hubconf
  hubconf.py
Labels: module: hub

#2190 Added eps attribute to FrozenBatchNorm2d
  test/test_ops.py
  torchvision/ops/misc.py
Labels: enhancement, module: ops
