Repository pytorch/vision, pull requests merged in 2021-12, with the labels that each got.

#5012 Add bias parameter to ConvNormActivation
  torchvision/ops/misc.py
Labels: enhancement, module: ops, cla signed, ciflow/default

#4990 Change batched NMS threshold for-loop version
  torchvision/ops/boxes.py
Labels: cla signed, ciflow/default

#5018 remove vanilla tensors from prototype datasets samples
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/transforms/_transform.py
Labels: enhancement, module: datasets, cla signed, ciflow/default, prototype

#5020 Fix linebreak `dos-newlines` issue
  torchvision/prototype/datasets/_builtin/coco.categories
Labels: bug, module: datasets, cla signed, ciflow/default, prototype

#5023 support amp training for video classification models
  references/video_classification/train.py
Labels: enhancement, module: reference scripts, cla signed, ciflow/default

#4980 fix `fromfile` on windows
  torchvision/prototype/datasets/utils/_internal.py
Labels: bug, windows, module: datasets, cla signed, ciflow/default, prototype

#5029 Skip test_roi_align_aligned
  test/test_onnx.py
Labels: module: tests, module: onnx, cla signed, ciflow/default

#5031 Add missing space in error message
  torchvision/io/__init__.py
Labels: module: io, cla signed, code quality, ciflow/default

#5022 Add RAFT model for optical flow
  docs/source/models.rst
  test/expect/ModelTester.test_raft_large_expect.pkl
  test/expect/ModelTester.test_raft_small_expect.pkl
  test/test_models.py
  torchvision/models/__init__.py
  torchvision/models/optical_flow/__init__.py
  torchvision/models/optical_flow/_utils.py
  torchvision/models/optical_flow/raft.py
Labels: module: models, new feature, cla signed, ciflow/default

#4586 adding PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla signed, ciflow/default

#5037 Replace `--apex` with `--amp` in docs
  references/video_classification/README.md
Labels: enhancement, module: documentation, cla signed, ciflow/default

#5001 simplify model builders
  test/test_prototype_models.py
  torchvision/prototype/models/_utils.py
  torchvision/prototype/models/alexnet.py
  torchvision/prototype/models/densenet.py
  torchvision/prototype/models/detection/faster_rcnn.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
  torchvision/prototype/models/detection/retinanet.py
  torchvision/prototype/models/detection/ssd.py
  torchvision/prototype/models/detection/ssdlite.py
  torchvision/prototype/models/efficientnet.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/inception.py
  torchvision/prototype/models/mnasnet.py
  torchvision/prototype/models/mobilenetv2.py
  torchvision/prototype/models/mobilenetv3.py
  torchvision/prototype/models/quantization/googlenet.py
  torchvision/prototype/models/quantization/inception.py
  torchvision/prototype/models/quantization/mobilenetv2.py
  torchvision/prototype/models/quantization/mobilenetv3.py
  torchvision/prototype/models/quantization/resnet.py
  torchvision/prototype/models/quantization/shufflenetv2.py
  torchvision/prototype/models/regnet.py
  torchvision/prototype/models/resnet.py
  torchvision/prototype/models/segmentation/deeplabv3.py
  torchvision/prototype/models/segmentation/fcn.py
  torchvision/prototype/models/segmentation/lraspp.py
  torchvision/prototype/models/shufflenetv2.py
  torchvision/prototype/models/squeezenet.py
  torchvision/prototype/models/vgg.py
  torchvision/prototype/models/video/resnet.py
  torchvision/prototype/models/vision_transformer.py
  torchvision/prototype/utils/_internal.py
Labels: module: models, cla signed, code quality, ciflow/default, prototype

#5044 Adding logging calls for raft and vit
  torchvision/models/optical_flow/raft.py
  torchvision/prototype/models/vision_transformer.py
Labels: enhancement, module: models, cla signed, ciflow/default

#5027 Add training reference for optical flow models
  references/optical_flow/train.py
  references/optical_flow/utils.py
Labels: module: reference scripts, cla signed, ciflow/default, other

#5026 Add transforms and presets for optical flow models
  references/optical_flow/presets.py
  references/optical_flow/transforms.py
Labels: module: reference scripts, cla signed, ciflow/default, other

#5051 Adding Repeated Augment Sampler
  references/classification/sampler.py
  references/classification/train.py
Labels: cla signed, ciflow/default

#5047 Revert removing `requests` and make it a hard dependency instead
  .circleci/config.yml
  .circleci/config.yml.in
  packaging/torchvision/meta.yaml
  setup.py
  torchvision/datasets/utils.py
Labels: module: datasets, dependency issue, cla signed, revert(ed), ciflow/default

#5035 add download functionality to prototype datasets
  test/builtin_dataset_mocks.py
  test/test_prototype_datasets_api.py
  torchvision/prototype/datasets/_api.py
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/celeba.py
  torchvision/prototype/datasets/_builtin/cifar.py
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/_builtin/sbd.py
  torchvision/prototype/datasets/_builtin/semeion.py
  torchvision/prototype/datasets/_builtin/voc.py
  torchvision/prototype/datasets/generate_category_files.py
  torchvision/prototype/datasets/utils/__init__.py
  torchvision/prototype/datasets/utils/_dataset.py
  torchvision/prototype/datasets/utils/_resource.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5049 Adding schema validation for model meta-data
  test/test_prototype_models.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#5054 rename TestWeights to appease pytest
  test/test_prototype_models.py
Labels: module: tests, cla signed, code quality, ciflow/default

#5004 Some updates to optical flow datasets
  torchvision/datasets/_optical_flow.py
Labels: cla signed, ciflow/default

#5043 Add raft builders and presets in prototypes
  test/test_prototype_models.py
  torchvision/models/optical_flow/raft.py
  torchvision/prototype/models/__init__.py
  torchvision/prototype/models/optical_flow/__init__.py
  torchvision/prototype/models/optical_flow/raft.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_presets.py
Labels: module: models, cla signed, ciflow/default, prototype

#5055 remove extraced archive if flag was set
  torchvision/datasets/utils.py
Labels: bug, module: datasets, cla signed, ciflow/default

#5061 Fix clang_format issue
  .circleci/config.yml
  .circleci/config.yml.in
Labels: bug, module: ci, cla signed, ciflow/default

#5062 Fix `binary_libtorchvision_ops_android` job
  android/build.gradle
  android/ops/CMakeLists.txt
Labels: bug, topic: mobile, module: ci, cla signed, ciflow/default

#5063 Fix `handle_legacy_interface` when passing strings
  torchvision/prototype/models/_utils.py
Labels: cla signed, ciflow/default

#5065 Add numpy as explicit dependency to build_cmake.sh (#4987)
  packaging/build_cmake.sh
Labels: bug, module: ci, cla signed, ciflow/default

#5066 Amend the weights only if quantize=True. (#4966)
  torchvision/models/quantization/mobilenetv3.py
Labels: bug, module: models.quantization, cla signed, ciflow/default

#5067 Fix augmentation space to be uint8 compatible (#4806)
  torchvision/transforms/autoaugment.py
Labels: bug, module: transforms, cla signed, ciflow/default

#5068 fix WIDERFace download links (#4649)
  torchvision/datasets/widerface.py
Labels: bug, module: datasets, cla signed, ciflow/default

#5060 Add pretrained weights on Chairs and Things for raft_large
  references/optical_flow/README.md
  references/optical_flow/train.py
  test/test_prototype_models.py
  torchvision/models/optical_flow/raft.py
  torchvision/prototype/models/optical_flow/raft.py
Labels: module: models, module: reference scripts, cla signed, ciflow/default, other

#5053 support random seed for RA sampler
  references/classification/sampler.py
  references/classification/train.py
Labels: bug, module: reference scripts, cla signed, ciflow/default

#5070 Add pretrained weights for raft_small from original paper
  torchvision/models/optical_flow/raft.py
  torchvision/prototype/models/optical_flow/raft.py
Labels: enhancement, module: models, cla signed, ciflow/default

#5076 Add our weights for raft_small on C+T
  references/optical_flow/README.md
  torchvision/models/optical_flow/raft.py
  torchvision/prototype/models/optical_flow/raft.py
Labels: module: models, cla signed, ciflow/default, other

#5078 Fix download link for raft_small
  references/optical_flow/README.md
  torchvision/prototype/models/optical_flow/raft.py
Labels: cla signed, ciflow/default

#5079 Pre-trained weights for raft-large, fine-tuned on sintel
  torchvision/prototype/models/optical_flow/raft.py
Labels: module: models, cla signed, ciflow/default, other

#5081 Add raft_large weights fined-tuned on Kitti
  torchvision/prototype/models/optical_flow/raft.py
Labels: module: models, cla signed, ciflow/default, other

#5072 revamp log api usage method
  torchvision/datasets/vision.py
  torchvision/models/alexnet.py
  torchvision/models/densenet.py
  torchvision/models/detection/generalized_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/ssd.py
  torchvision/models/detection/ssdlite.py
  torchvision/models/efficientnet.py
  torchvision/models/googlenet.py
  torchvision/models/inception.py
  torchvision/models/mnasnet.py
  torchvision/models/mobilenetv2.py
  torchvision/models/mobilenetv3.py
  torchvision/models/optical_flow/raft.py
  torchvision/models/regnet.py
  torchvision/models/resnet.py
  torchvision/models/segmentation/_utils.py
  torchvision/models/segmentation/lraspp.py
  torchvision/models/shufflenetv2.py
  torchvision/models/squeezenet.py
  torchvision/models/vgg.py
  torchvision/models/video/resnet.py
  torchvision/ops/boxes.py
  torchvision/ops/deform_conv.py
  torchvision/ops/feature_pyramid_network.py
  torchvision/ops/focal_loss.py
  torchvision/ops/misc.py
  torchvision/ops/poolers.py
  torchvision/ops/ps_roi_align.py
  torchvision/ops/ps_roi_pool.py
  torchvision/ops/roi_align.py
  torchvision/ops/roi_pool.py
  torchvision/ops/stochastic_depth.py
  torchvision/prototype/models/vision_transformer.py
  torchvision/utils.py
Labels: cla signed, ciflow/default

#5024 Add CUDA-11.5 builds to torchvision
  .circleci/config.yml
  .circleci/regenerate.py
  packaging/build_conda.sh
  packaging/pkg_helpers.bash
  packaging/windows/internal/cuda_install.bat
Labels: cla signed, ciflow/default

#5025 [ViT] Support fine-tuning with different image resolution
  torchvision/prototype/models/vision_transformer.py
Labels: cla signed, ciflow/default

#5077 Add API usage calls to utils
  torchvision/utils.py
Labels: cla signed, ciflow/default

#5086 Update readme.md with ViT training command
  references/classification/README.md
Labels: cla signed, ciflow/default

#5089 Fix googlenet and inception docstring for transform_input parameter
  torchvision/models/googlenet.py
  torchvision/models/inception.py
  torchvision/models/quantization/googlenet.py
  torchvision/models/quantization/inception.py
Labels: cla signed, ciflow/default

#5082 Support --epochs instead of --num-steps in optical flow references
  references/optical_flow/README.md
  references/optical_flow/train.py
Labels: module: reference scripts, cla signed, ciflow/default, other

#4893 [Windows] Workaround for loading bundled DLLs
  torchvision/extension.py
  torchvision/io/_video_opt.py
  torchvision/io/image.py
Labels: cla signed, ciflow/default

#5094 [Windows] Workaround for loading bundled DLLs (#4893)
  torchvision/extension.py
  torchvision/io/_video_opt.py
  torchvision/io/image.py
Labels: ciflow/default

#5092 Fix typos
  torchvision/csrc/io/video/video.cpp
Labels: cla signed, ciflow/default

#5032 fix caltech and imagenet prototype datasets
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/imagenet.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5099 (temporary) add `pyyaml` to unittest requirements
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/windows/scripts/environment.yml
Labels: dependency issue, module: ci, cla signed, ciflow/default

#5033 Add new weights for efficientnet_b1 model
  torchvision/prototype/models/efficientnet.py
Labels: cla signed, ciflow/default

#5101 Fix `draw_bounding_boxes` for tensors on GPU
  torchvision/utils.py
Labels: cla signed, ciflow/default

#5102 Fix `draw_keypoints` for tensors on GPU
  torchvision/utils.py
Labels: cla signed, ciflow/default

#5093 add sharding filters in prototype datasets to help the data loader
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/celeba.py
  torchvision/prototype/datasets/_builtin/cifar.py
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/_builtin/sbd.py
  torchvision/prototype/datasets/_builtin/semeion.py
  torchvision/prototype/datasets/_builtin/voc.py
  torchvision/prototype/datasets/_folder.py
  torchvision/prototype/datasets/utils/_dataset.py
  torchvision/prototype/datasets/utils/_internal.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5095 Simplified usage log API
  torchvision/csrc/ops/deform_conv2d.cpp
  torchvision/csrc/ops/nms.cpp
  torchvision/csrc/ops/ps_roi_align.cpp
  torchvision/csrc/ops/ps_roi_pool.cpp
  torchvision/csrc/ops/roi_align.cpp
  torchvision/csrc/ops/roi_pool.cpp
  torchvision/datasets/vision.py
  torchvision/models/alexnet.py
  torchvision/models/densenet.py
  torchvision/models/detection/generalized_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/ssd.py
  torchvision/models/detection/ssdlite.py
  torchvision/models/efficientnet.py
  torchvision/models/googlenet.py
  torchvision/models/inception.py
  torchvision/models/mnasnet.py
  torchvision/models/mobilenetv2.py
  torchvision/models/mobilenetv3.py
  torchvision/models/optical_flow/raft.py
  torchvision/models/regnet.py
  torchvision/models/resnet.py
  torchvision/models/segmentation/_utils.py
  torchvision/models/segmentation/lraspp.py
  torchvision/models/shufflenetv2.py
  torchvision/models/squeezenet.py
  torchvision/models/vgg.py
  torchvision/models/video/resnet.py
  torchvision/ops/boxes.py
  torchvision/ops/deform_conv.py
  torchvision/ops/feature_pyramid_network.py
  torchvision/ops/focal_loss.py
  torchvision/ops/misc.py
  torchvision/ops/poolers.py
  torchvision/ops/ps_roi_align.py
  torchvision/ops/ps_roi_pool.py
  torchvision/ops/roi_align.py
  torchvision/ops/roi_pool.py
  torchvision/ops/stochastic_depth.py
  torchvision/prototype/models/vision_transformer.py
  torchvision/utils.py
Labels: cla signed, ciflow/default

#5111 hint shuffling in prototype datasets rather than acutally applying it
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/celeba.py
  torchvision/prototype/datasets/_builtin/cifar.py
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/_builtin/sbd.py
  torchvision/prototype/datasets/_builtin/semeion.py
  torchvision/prototype/datasets/_builtin/voc.py
  torchvision/prototype/datasets/utils/_internal.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5112 Revert "(temporary) add `pyyaml` to unittest requirements"
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/windows/scripts/environment.yml
Labels: dependency issue, cla signed, revert(ed), ciflow/default

#5113 remove fn_kwargs from Filter and Mapper datapipes
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/celeba.py
  torchvision/prototype/datasets/_builtin/cifar.py
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/_builtin/sbd.py
  torchvision/prototype/datasets/_builtin/semeion.py
  torchvision/prototype/datasets/_builtin/voc.py
  torchvision/prototype/datasets/_folder.py
Labels: bug, module: datasets, cla signed, ciflow/default, prototype

#5084 Allow variable number of repetitions for RA
  references/classification/sampler.py
  references/classification/train.py
Labels: cla signed, ciflow/default

#5107 Regnet weights v2
  torchvision/prototype/models/regnet.py
Labels: module: models, cla signed, ciflow/default, prototype

#5038 Log io usage
  torchvision/csrc/io/image/cpu/decode_jpeg.cpp
  torchvision/csrc/io/image/cpu/decode_png.cpp
  torchvision/csrc/io/image/cpu/encode_jpeg.cpp
  torchvision/csrc/io/image/cpu/encode_png.cpp
  torchvision/csrc/io/image/cpu/read_write_file.cpp
  torchvision/csrc/io/image/cuda/decode_jpeg_cuda.cpp
  torchvision/csrc/io/video/video.cpp
  torchvision/csrc/io/video_reader/video_reader.cpp
  torchvision/io/__init__.py
  torchvision/io/image.py
  torchvision/io/video.py
Labels: cla signed, ciflow/default

#5007 Add api usage log to transforms
  torchvision/transforms/functional.py
  torchvision/transforms/transforms.py
Labels: module: transforms, cla signed, ciflow/default

#5118 Fix missing Torch includes
  torchvision/csrc/io/image/image.cpp
  torchvision/csrc/ops/autocast/deform_conv2d_kernel.cpp
  torchvision/csrc/ops/autocast/nms_kernel.cpp
  torchvision/csrc/ops/autocast/ps_roi_align_kernel.cpp
  torchvision/csrc/ops/autocast/ps_roi_pool_kernel.cpp
  torchvision/csrc/ops/autocast/roi_align_kernel.cpp
  torchvision/csrc/ops/autocast/roi_pool_kernel.cpp
  torchvision/csrc/ops/deform_conv2d.cpp
  torchvision/csrc/ops/interpolate_aa.cpp
  torchvision/csrc/ops/nms.cpp
  torchvision/csrc/ops/ps_roi_align.cpp
  torchvision/csrc/ops/ps_roi_pool.cpp
  torchvision/csrc/ops/roi_align.cpp
  torchvision/csrc/ops/roi_pool.cpp
Labels: cla signed, ciflow/default

#5119 Food 101 dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/food101.py
Labels: module: datasets, new feature, cla signed, ciflow/default

#5124 fix docs
  torchvision/models/detection/ssdlite.py
Labels: enhancement, module: documentation, cla signed, ciflow/default

#5125 Update code to Python 3.7 compliance
  torchvision/datasets/_optical_flow.py
  torchvision/datasets/food101.py
  torchvision/io/_video_opt.py
  torchvision/models/optical_flow/raft.py
Labels: enhancement, cla signed, code quality, ciflow/default

#5019 Add video GPU decoder
  setup.py
  test/test_video_gpu_decoder.py
  torchvision/csrc/io/decoder/gpu/README.rst
  torchvision/csrc/io/decoder/gpu/decoder.cpp
  torchvision/csrc/io/decoder/gpu/decoder.h
  torchvision/csrc/io/decoder/gpu/demuxer.h
  torchvision/csrc/io/decoder/gpu/gpu_decoder.cpp
  torchvision/csrc/io/decoder/gpu/gpu_decoder.h
  torchvision/io/__init__.py
  torchvision/io/_video_opt.py
Labels: enhancement, module: video, cla signed, ciflow/default

#5122 disable windows updates
  packaging/windows/internal/cuda_install.bat
Labels: cla signed, ciflow/default

#5152 Remove Python 3.6 from CI
  .circleci/config.yml
  .circleci/regenerate.py
Labels: module: ci, cla signed, ciflow/default, other
