Repository pytorch/vision, pull requests merged in 2021-11, with the labels that each got.

#4808 change default year from 2014 to 2017 for COCO prototype
  torchvision/prototype/datasets/_builtin/coco.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#4783 Big doc revamp - simplify and improve the subpackage pages
  .gitignore
  docs/Makefile
  docs/source/_templates/class.rst
  docs/source/_templates/class_dataset.rst
  docs/source/_templates/function.rst
  docs/source/conf.py
  docs/source/datasets.rst
  docs/source/docutils.conf
  docs/source/feature_extraction.rst
  docs/source/index.rst
  docs/source/io.rst
  docs/source/models.rst
  docs/source/ops.rst
  docs/source/transforms.rst
  docs/source/utils.rst
  torchvision/datasets/coco.py
  torchvision/ops/deform_conv.py
Labels: enhancement, module: documentation, cla signed, ciflow/default

#4811 Add new weights for ResNet101 and ResNet151
  torchvision/prototype/models/resnet.py
Labels: enhancement, module: models, cla signed, ciflow/default

#4813 Adding multiweight support for googlenet prototype model
  torchvision/models/googlenet.py
  torchvision/prototype/models/__init__.py
  torchvision/prototype/models/googlenet.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4788 improve installing nightly pytorch
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/windows/scripts/install.sh
Labels: cla signed, ciflow/default

#4817 Adding multiweight support for squeezenet prototype model
  torchvision/prototype/models/__init__.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/mnasnet.py
  torchvision/prototype/models/squeezenet.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4806 Fix augmentation space to be uint8 compatible
  torchvision/transforms/autoaugment.py
Labels: bug, module: transforms, cla signed, ciflow/default

#4821 Adding multiweight support for inception prototype model
  references/classification/README.md
  torchvision/models/inception.py
  torchvision/prototype/models/__init__.py
  torchvision/prototype/models/inception.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4822 DOC: fix intersphinx links
  docs/source/conf.py
Labels: cla signed, ciflow/default

#4820 use toplevel directories
  .gitignore
Labels: cla signed, ciflow/default

#4823 docs: Fixed hyperlink in docstring of TrivialAugmentWide
  torchvision/transforms/autoaugment.py
Labels: module: documentation, cla signed, ciflow/default

#4812 Expose misc ops at package level
  docs/source/ops.rst
  torchvision/ops/__init__.py
  torchvision/ops/misc.py
Labels: enhancement, module: ops, cla signed, ciflow/default

#4830 Update training references from legacy models
  references/classification/README.md
  torchvision/prototype/models/alexnet.py
  torchvision/prototype/models/densenet.py
  torchvision/prototype/models/efficientnet.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/inception.py
  torchvision/prototype/models/mnasnet.py
  torchvision/prototype/models/mobilenetv2.py
  torchvision/prototype/models/mobilenetv3.py
  torchvision/prototype/models/resnet.py
  torchvision/prototype/models/segmentation/deeplabv3.py
  torchvision/prototype/models/segmentation/fcn.py
  torchvision/prototype/models/shufflenetv2.py
  torchvision/prototype/models/squeezenet.py
  torchvision/prototype/models/vgg.py
  torchvision/prototype/models/video/resnet.py
Labels: enhancement, module: models, module: documentation, cla signed, ciflow/default

#4827 Adding multiweight support to Quantized ResNet
  references/classification/README.md
  references/classification/train.py
  references/classification/train_quantization.py
  test/test_prototype_models.py
  torchvision/prototype/models/quantization/resnet.py
Labels: enhancement, module: models.quantization, cla signed, ciflow/default, prototype

#4631 Add typing annotations to detection/generalized_rcnn
  mypy.ini
  torchvision/models/detection/generalized_rcnn.py
Labels: cla signed, ciflow/default

#4833 Update requirements.txt
  docs/requirements.txt
Labels: cla signed, ciflow/default

#4836 Add new weights for ResNeXt50-32x4d
  torchvision/prototype/models/resnet.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4824 [references/classification] Adding gradient clipping
  references/classification/train.py
  references/classification/utils.py
Labels: cla signed, ciflow/default

#4841 remove hard coded input from category file generation
  torchvision/prototype/datasets/generate_category_files.py
Labels: bug, module: datasets, cla signed, ciflow/default, prototype

#4844 use `store_test_results` for prototype tests
  .circleci/config.yml
  .circleci/config.yml.in
Labels: module: tests, cla signed, ciflow/default, prototype

#4840 Port `semeion` dataset to `prototype` namespace
  torchvision/prototype/datasets/_builtin/__init__.py
  torchvision/prototype/datasets/_builtin/semeion.py
Labels: cla signed, ciflow/default

#4837 Update Reference scripts to support the prototype models
  references/segmentation/train.py
  references/video_classification/train.py
Labels: enhancement, module: reference scripts, cla signed, ciflow/default, prototype

#4843 Fix TORCH_HOME environment variable in docs
  docs/source/models.rst
Labels: enhancement, module: documentation, cla signed, ciflow/default

#4846 Add missing torchvision 0.10.1
  README.rst
Labels: enhancement, module: documentation, cla signed, ciflow/default

#4847 Adding multiweight support to FasterRCNN
  references/detection/train.py
  test/test_prototype_models.py
  torchvision/models/shufflenetv2.py
  torchvision/prototype/models/detection/faster_rcnn.py
Labels: enhancement, module: models, module: reference scripts, cla signed, ciflow/default, prototype

#4849 Moving the check for prototype support in all references
  references/classification/train.py
  references/classification/train_quantization.py
  references/detection/train.py
  references/segmentation/train.py
  references/video_classification/train.py
Labels: enhancement, module: reference scripts, cla signed, ciflow/default, prototype

#4848 Adding multiweight support to Quantized GoogLeNet
  references/classification/README.md
  test/test_prototype_models.py
  torchvision/models/quantization/googlenet.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/quantization/__init__.py
  torchvision/prototype/models/quantization/googlenet.py
  torchvision/prototype/models/quantization/resnet.py
Labels: enhancement, module: models.quantization, cla signed, ciflow/default, prototype

#3179 Fast seek implementation
  test/test_videoapi.py
  torchvision/csrc/io/decoder/decoder.cpp
  torchvision/csrc/io/decoder/decoder.h
  torchvision/csrc/io/decoder/defs.h
  torchvision/csrc/io/video/video.cpp
  torchvision/csrc/io/video/video.h
  torchvision/io/__init__.py
Labels: cla signed, ciflow/default

#4850 Adding multiweight support to Quantized InceptionV3
  torchvision/models/quantization/inception.py
  torchvision/prototype/models/inception.py
  torchvision/prototype/models/quantization/__init__.py
  torchvision/prototype/models/quantization/inception.py
Labels: enhancement, module: models.quantization, cla signed, ciflow/default, prototype

#4682 add tests for prototype builtin datasets
  .circleci/config.yml
  .circleci/config.yml.in
  test/builtin_dataset_mocks.py
  test/datasets_utils.py
  test/test_prototype_builtin_datasets.py
  test/test_prototype_datasets_api.py
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/utils/_dataset.py
  torchvision/prototype/datasets/utils/_internal.py
Labels: module: datasets, module: tests, cla signed, ciflow/default, prototype

#4721 add prototype features
  test/builtin_dataset_mocks.py
  test/test_prototype_builtin_datasets.py
  test/test_prototype_features.py
  torchvision/prototype/__init__.py
  torchvision/prototype/datasets/_api.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/decoder.py
  torchvision/prototype/datasets/utils/_dataset.py
  torchvision/prototype/datasets/utils/_internal.py
  torchvision/prototype/features/__init__.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_label.py
  torchvision/prototype/utils/__init__.py
  torchvision/prototype/utils/_internal.py
Labels: module: datasets, module: transforms, cla signed, ciflow/default, prototype

#4854 Cleanup Quantized ShuffleNet
  docs/source/models.rst
  references/classification/README.md
  torchvision/models/quantization/shufflenetv2.py
Labels: enhancement, module: models.quantization, cla signed, bc-breaking, ciflow/default

#4856 Adding multiweight support to Quantized ShuffleNetV2
  torchvision/prototype/models/quantization/__init__.py
  torchvision/prototype/models/quantization/shufflenetv2.py
Labels: enhancement, module: models.quantization, cla signed, ciflow/default, prototype

#4775 More robust test_random_apply and test_random_choice
  test/test_transforms.py
Labels: enhancement, module: transforms, module: tests, cla signed, ciflow/default

#4845 Add Kitti and Sintel datasets for optical flow
  docs/source/datasets.rst
  test/datasets_utils.py
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/_optical_flow.py
Labels: cla signed, ciflow/default

#4859 Adding multiweight support to Quantized MobileNetV2 and MobileNetV3
  torchvision/prototype/models/__init__.py
  torchvision/prototype/models/mobilenet.py
  torchvision/prototype/models/quantization/__init__.py
  torchvision/prototype/models/quantization/mobilenet.py
  torchvision/prototype/models/quantization/mobilenetv2.py
  torchvision/prototype/models/quantization/mobilenetv3.py
Labels: enhancement, module: models.quantization, cla signed, ciflow/default, prototype

#4860 Add FlyingChairs dataset for optical flow
  docs/source/datasets.rst
  test/datasets_utils.py
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/_optical_flow.py
Labels: module: datasets, new feature, cla signed, ciflow/default

#4858 Add FlyingThings3D dataset for optical flow
  docs/source/datasets.rst
  test/datasets_utils.py
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/_optical_flow.py
Labels: cla signed, ciflow/default

#4869 Adding multiweight support to MaskRCNN
  torchvision/prototype/models/detection/__init__.py
  torchvision/prototype/models/detection/mask_rcnn.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4868 Support big endian for .flo file decoding
  test/datasets_utils.py
  torchvision/datasets/_optical_flow.py
Labels: enhancement, module: datasets, cla signed, ciflow/default

#4862 Add new weights for wide_resnet50_2 model
  torchvision/prototype/models/resnet.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4872 Adding multiweight support to RetinaNet
  torchvision/prototype/models/detection/__init__.py
  torchvision/prototype/models/detection/retinanet.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4873 Adding multiweight support to Keypoint RCNN
  torchvision/prototype/models/_meta.py
  torchvision/prototype/models/detection/__init__.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4878 Removed excessive logging
  torchvision/csrc/io/decoder/stream.cpp
Labels: module: io, module: video, cla signed, ciflow/default

#4879 Remove unused import os in datasets
  torchvision/datasets/cifar.py
  torchvision/datasets/coco.py
  torchvision/datasets/lsun.py
  torchvision/datasets/semeion.py
  torchvision/datasets/stl10.py
  torchvision/datasets/svhn.py
Labels: module: datasets, cla signed, code quality, ciflow/default

#4876 Adding interpolation in meta for all models and cleaning up unused vars
  torchvision/prototype/models/detection/faster_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
  torchvision/prototype/models/detection/retinanet.py
  torchvision/prototype/models/segmentation/deeplabv3.py
  torchvision/prototype/models/segmentation/fcn.py
  torchvision/prototype/models/segmentation/lraspp.py
  torchvision/prototype/models/vgg.py
Labels: module: models, cla signed, code quality, ciflow/default, prototype

#4867 disable weight download and state dict loading for model tests
  test/test_models.py
Labels: enhancement, module: models, module: tests, cla signed, ciflow/default

#4866 add test split for imagenet
  test/builtin_dataset_mocks.py
  torchvision/prototype/datasets/_builtin/imagenet.py
Labels: module: datasets, new feature, cla signed, ciflow/default, prototype

#4870 Fix .flo file decoding
  test/test_datasets.py
  torchvision/datasets/_optical_flow.py
Labels: module: datasets, cla signed, ciflow/default, other

#4875 Adding multiweight support to SSDlite
  torchvision/prototype/models/detection/__init__.py
  torchvision/prototype/models/detection/ssdlite.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4881 Adding multiweight support to SSD
  torchvision/prototype/models/detection/__init__.py
  torchvision/prototype/models/detection/ssd.py
  torchvision/prototype/models/vgg.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4883 [FBcode->GH] Removed type annotations from rcnn
  torchvision/models/detection/generalized_rcnn.py
Labels: topic: object detection, cla signed, ciflow/default

#4885 Reverted folder.py back to using complete path to file for make_dataset
  torchvision/datasets/folder.py
Labels: cla signed, ciflow/default

#4888 Add pass_name='both' for Sintel dataset
  test/test_datasets.py
  torchvision/datasets/_optical_flow.py
Labels: module: datasets, cla signed, ciflow/default, other

#4216 Add utility to draw keypoints
  docs/source/utils.rst
  test/assets/fakedata/draw_keypoint_vanilla.png
  test/test_utils.py
  torchvision/utils.py
Labels: cla signed, ciflow/default

#4889 Change expected directory from "Kitti" to "KittiFlow" for KittiFlow dataset
  test/test_datasets.py
  torchvision/datasets/_optical_flow.py
Labels: module: datasets, cla signed, ciflow/default, other

#4884 rename KeyZipper to IterKeyZipper
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/celeba.py
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/sbd.py
  torchvision/prototype/datasets/_builtin/voc.py
Labels: cla signed, ciflow/default

#4874 fix bug in training model by amp
  references/classification/train.py
Labels: cla signed, ciflow/default

#4898 Applied contiguous in `decode_*` ops
  test/test_image.py
  torchvision/csrc/io/image/cpu/decode_jpeg.cpp
  torchvision/csrc/io/image/cpu/decode_png.cpp
  torchvision/io/image.py
Labels: module: io, cla signed, Perf, ciflow/default

#4892 Add gallery example for drawing keypoints
  gallery/assets/person1.jpg
  gallery/assets/visualization_utils_thumbnail.png
  gallery/assets/visualization_utils_thumbnail2.png
  gallery/plot_visualization_utils.py
  test/test_utils.py
  torchvision/utils.py
Labels: cla signed, ciflow/default

#4901 Revert "Applied contiguous in `decode_*` ops"
  test/test_image.py
  torchvision/csrc/io/image/cpu/decode_jpeg.cpp
  torchvision/csrc/io/image/cpu/decode_png.cpp
  torchvision/io/image.py
Labels: cla signed, ciflow/default

#4861 add initial chunk of prototype transforms
  test/test_prototype_datasets_api.py
  test/test_prototype_features.py
  test/test_prototype_transforms.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/utils/__init__.py
  torchvision/prototype/datasets/utils/_dataset.py
  torchvision/prototype/datasets/utils/_internal.py
  torchvision/prototype/datasets/utils/_query.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/models/alexnet.py
  torchvision/prototype/models/densenet.py
  torchvision/prototype/models/detection/faster_rcnn.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
  torchvision/prototype/models/detection/retinanet.py
  torchvision/prototype/models/detection/ssd.py
  torchvision/prototype/models/detection/ssdlite.py
  torchvision/prototype/models/efficientnet.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/inception.py
  torchvision/prototype/models/mnasnet.py
  torchvision/prototype/models/mobilenetv2.py
  torchvision/prototype/models/mobilenetv3.py
  torchvision/prototype/models/quantization/googlenet.py
  torchvision/prototype/models/quantization/inception.py
  torchvision/prototype/models/quantization/mobilenetv2.py
  torchvision/prototype/models/quantization/mobilenetv3.py
  torchvision/prototype/models/quantization/resnet.py
  torchvision/prototype/models/quantization/shufflenetv2.py
  torchvision/prototype/models/regnet.py
  torchvision/prototype/models/resnet.py
  torchvision/prototype/models/segmentation/deeplabv3.py
  torchvision/prototype/models/segmentation/fcn.py
  torchvision/prototype/models/segmentation/lraspp.py
  torchvision/prototype/models/shufflenetv2.py
  torchvision/prototype/models/squeezenet.py
  torchvision/prototype/models/vgg.py
  torchvision/prototype/models/video/resnet.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_container.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_presets.py
  torchvision/prototype/transforms/_transform.py
  torchvision/prototype/utils/_internal.py
Labels: cla signed, ciflow/default

#4908 Update the error message on DeformConv2d
  torchvision/csrc/ops/cpu/deform_conv2d_kernel.cpp
Labels: bug, module: ops, cla signed, ciflow/default

#4906 Add new weights for wide_resnet101_2 model
  torchvision/prototype/models/resnet.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4912 Fix failing CI job for android
  android/build.gradle
Labels: bug, module: ci, cla signed, ciflow/default

#4911 Set seed on `test_nms_ref` to reduce flakiness
  test/test_ops.py
Labels: enhancement, module: tests, cla signed, ciflow/default

#4913 Default value docs for models using trainable_backbone_layers
  torchvision/models/detection/faster_rcnn.py
  torchvision/models/detection/keypoint_rcnn.py
  torchvision/models/detection/mask_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/ssd.py
  torchvision/models/detection/ssdlite.py
Labels: enhancement, module: documentation, cla signed, ciflow/default

#4793 add nvjpeg in cuda11.3
  packaging/windows/internal/cuda_install.bat
Labels: cla signed, ciflow/default

#4922 removed lines for Inception v3 and GoogLeNet regarding scipy
  docs/source/models.rst
Labels: enhancement, module: documentation, cla signed, ciflow/default

#4923 save grad_scaler if use amp for better resume
  references/classification/train.py
Labels: enhancement, module: reference scripts, cla signed, ciflow/default

#4890 Add HD1K dataset for optical flow
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/_optical_flow.py
Labels: module: datasets, new feature, cla signed, ciflow/default

#4863 use better default decoder for prototype dataset tests
  test/builtin_dataset_mocks.py
Labels: module: datasets, module: tests, cla signed, ciflow/default, prototype

#4926 Android app switch to pytorch_android stable
  android/build.gradle
  android/ops/CMakeLists.txt
Labels: bug, cla signed, ciflow/default, other

#4896 Simplify the gradient clipping code
  references/classification/train.py
  references/classification/utils.py
Labels: module: reference scripts, cla signed, code quality, ciflow/default

#4929 Stop detection models from downloading the backbone weights
  test/test_models_detection_negative_samples.py
Labels: enhancement, module: tests, cla signed, ciflow/default

#4930 Remove unnecessary panda references
  .github/workflows/tests-schedule.yml
  mypy.ini
Labels: cla signed, ciflow/default

#4931 Fix clang_format CI failure
  .circleci/config.yml
  .circleci/config.yml.in
Labels: bug, module: ci, cla signed, ciflow/default

#4933 support amp training for detection models
  references/detection/engine.py
  references/detection/train.py
Labels: cla signed, ciflow/default

#4939 Updates PIL version specifier to prevent issues with padding when image mode = P
  setup.py
Labels: cla signed, ciflow/default

#4940 Cleanup Models prototype implementation
  torchvision/prototype/models/_api.py
  torchvision/prototype/models/alexnet.py
  torchvision/prototype/models/densenet.py
  torchvision/prototype/models/detection/faster_rcnn.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
  torchvision/prototype/models/detection/retinanet.py
  torchvision/prototype/models/detection/ssd.py
  torchvision/prototype/models/detection/ssdlite.py
  torchvision/prototype/models/efficientnet.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/inception.py
  torchvision/prototype/models/mnasnet.py
  torchvision/prototype/models/mobilenetv2.py
  torchvision/prototype/models/mobilenetv3.py
  torchvision/prototype/models/quantization/googlenet.py
  torchvision/prototype/models/quantization/inception.py
  torchvision/prototype/models/quantization/mobilenetv2.py
  torchvision/prototype/models/quantization/mobilenetv3.py
  torchvision/prototype/models/quantization/resnet.py
  torchvision/prototype/models/quantization/shufflenetv2.py
  torchvision/prototype/models/regnet.py
  torchvision/prototype/models/resnet.py
  torchvision/prototype/models/segmentation/deeplabv3.py
  torchvision/prototype/models/segmentation/fcn.py
  torchvision/prototype/models/segmentation/lraspp.py
  torchvision/prototype/models/shufflenetv2.py
  torchvision/prototype/models/squeezenet.py
  torchvision/prototype/models/vgg.py
  torchvision/prototype/models/video/resnet.py
Labels: module: models, cla signed, code quality, ciflow/default, prototype

#4945 Build CUDA-11 Windows cmake using C++17
  CMakeLists.txt
Labels: module: ci, cla signed, ciflow/default

#4944 Cherry-pick pkg_helper changes from https://github.com/pytorch/audio/commit/0f8443050bd6ce402f939ef6876fccf1a2dacf16
  packaging/pkg_helpers.bash
Labels: module: ci, cla signed, ciflow/default

#4920 Move cmake_[windows|linux]_gpu to CUDA-11.3
  .circleci/config.yml
  .circleci/regenerate.py
Labels: enhancement, module: ci, cla signed, ciflow/default

#4900 Better model checkpoints for various classification models
  torchvision/prototype/models/mobilenetv3.py
  torchvision/prototype/models/resnet.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4951 Refactor poolers
  torchvision/ops/poolers.py
Labels: cla signed, ciflow/default

#4952 Remove non-functional Transforms from presets
  torchvision/prototype/models/video/resnet.py
  torchvision/prototype/transforms/_presets.py
Labels: module: models, module: transforms, cla signed, ciflow/default, prototype

#4864 return features instead of vanilla tensors from prototype datasets
  test/builtin_dataset_mocks.py
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/_api.py
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/cifar.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/decoder.py
  torchvision/prototype/features/__init__.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/utils/_internal.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#4954 Sync the Android App version with TorchVision
  android/gradle.properties
Labels: topic: mobile, cla signed, ciflow/default, other

#4173 Added typing annotations to io/_video_opts
  mypy.ini
  torchvision/io/__init__.py
  torchvision/io/_video_opt.py
Labels: cla signed, ciflow/default

#4958 remove debug artifacts from prototype dataset tests
  test/builtin_dataset_mocks.py
  test/test_prototype_builtin_datasets.py
Labels: module: datasets, module: tests, cla signed, code quality, ciflow/default, prototype

#4950 make prototype datasets traversable
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/utils/_internal.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#4960 Improve prototype dataset benchmarks
  torchvision/prototype/datasets/benchmark.py
Labels: enhancement, module: datasets, cla signed, ciflow/default, prototype

#4946 chore: Updated all pillow version specifiers
  .circleci/config.yml
  .circleci/config.yml.in
  .circleci/smoke_test/docker/Dockerfile
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/windows/scripts/environment.yml
  .circleci/unittest/windows/scripts/install.sh
  packaging/build_cmake.sh
  packaging/torchvision/meta.yaml
Labels: cla signed, ciflow/default

#4882 add prototype utilities to read arbitrary numeric binary files
  test/test_prototype_datasets_utils.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/utils/_internal.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#4966 Fix QuantizableMobileNetV3 weight loading issue
  torchvision/models/quantization/mobilenetv3.py
Labels: bug, module: models.quantization, cla signed, ciflow/default

#4969 Updating the weights of Quantized models
  torchvision/prototype/models/quantization/resnet.py
Labels: enhancement, module: models.quantization, cla signed, ciflow/default, prototype

#4964 Update wide_resnet101 accuracy values and path to improved model
  torchvision/prototype/models/resnet.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4967 Add multi-type support on `get_weight()`
  references/classification/train.py
  references/classification/train_quantization.py
  torchvision/prototype/models/_api.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#4962 add third party dependencies to prototype datasets
  test/test_prototype_datasets_api.py
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/sbd.py
  torchvision/prototype/datasets/utils/_dataset.py
Labels: module: datasets, dependency issue, cla signed, ciflow/default, prototype

#4956 add logging for semantic segmentation models
  torchvision/models/segmentation/_utils.py
  torchvision/models/segmentation/lraspp.py
Labels: enhancement, module: models, cla signed, ciflow/default

#4767 Change to stable sort in nms implementations
  torchvision/csrc/ops/cpu/nms_kernel.cpp
  torchvision/csrc/ops/cuda/nms_kernel.cu
  torchvision/csrc/ops/quantized/cpu/qnms_kernel.cpp
Labels: cla signed, ciflow/default

#4971 remove custom code for model output comparison
  test/test_models.py
Labels: module: models, module: tests, cla signed, ciflow/default

#4972 Update README.md
  references/classification/README.md
Labels: cla signed, ciflow/default

#4942 fix prototype transforms for non features
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_transform.py
Labels: bug, module: transforms, cla signed, ciflow/default, prototype

#4963 don't close file handles in protoype dataset tests
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/decoder.py
Labels: bug, module: datasets, module: tests, cla signed, ciflow/default, prototype

#4172 Added missing typing annotations in datasets/video_utils
  torchvision/datasets/video_utils.py
Labels: module: datasets, cla signed, code quality, ciflow/default

#4973 replace requests with urllib
  torchvision/datasets/utils.py
Labels: module: datasets, dependency issue, cla signed, bc-breaking, ciflow/default

#4987 Add numpy as explicit dependency to build_cmake.sh
  packaging/build_cmake.sh
Labels: module: ci, cla signed, ciflow/default

#4989 [iOS] Fix VisionTestApp setups
  ios/VisionTestApp/VisionTestApp.xcodeproj/project.pbxproj
Labels: bug, topic: mobile, cla signed, ciflow/default

#4948 More Multiweight support cleanups
  test/test_prototype_models.py
  torchvision/prototype/models/_api.py
  torchvision/prototype/models/_utils.py
  torchvision/prototype/models/alexnet.py
  torchvision/prototype/models/densenet.py
  torchvision/prototype/models/detection/faster_rcnn.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
  torchvision/prototype/models/detection/retinanet.py
  torchvision/prototype/models/detection/ssd.py
  torchvision/prototype/models/detection/ssdlite.py
  torchvision/prototype/models/efficientnet.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/inception.py
  torchvision/prototype/models/mnasnet.py
  torchvision/prototype/models/mobilenetv2.py
  torchvision/prototype/models/mobilenetv3.py
  torchvision/prototype/models/quantization/googlenet.py
  torchvision/prototype/models/quantization/inception.py
  torchvision/prototype/models/quantization/mobilenetv2.py
  torchvision/prototype/models/quantization/mobilenetv3.py
  torchvision/prototype/models/quantization/resnet.py
  torchvision/prototype/models/quantization/shufflenetv2.py
  torchvision/prototype/models/regnet.py
  torchvision/prototype/models/resnet.py
  torchvision/prototype/models/segmentation/deeplabv3.py
  torchvision/prototype/models/segmentation/fcn.py
  torchvision/prototype/models/segmentation/lraspp.py
  torchvision/prototype/models/shufflenetv2.py
  torchvision/prototype/models/squeezenet.py
  torchvision/prototype/models/vgg.py
  torchvision/prototype/models/video/resnet.py
Labels: module: models, cla signed, code quality, ciflow/default, prototype

#4997 fix mobilenetv3 quantization state dict loading
  torchvision/models/quantization/mobilenetv3.py
Labels: bug, module: models.quantization, cla signed, ciflow/default

#4772 Download model weights in parallel for prototype CI
  .circleci/config.yml
  .circleci/config.yml.in
  scripts/collect_model_urls.py
  test/common_utils.py
  test/test_prototype_models.py
Labels: module: models, module: tests, module: ci, cla signed, ciflow/default, prototype

#4594 Adding ViT to torchvision/models
  test/expect/ModelTester.test_vit_b_16_expect.pkl
  test/expect/ModelTester.test_vit_b_32_expect.pkl
  test/expect/ModelTester.test_vit_l_16_expect.pkl
  test/expect/ModelTester.test_vit_l_32_expect.pkl
  test/test_backbone_utils.py
  test/test_models.py
  test/test_prototype_models.py
  torchvision/prototype/models/__init__.py
  torchvision/prototype/models/vision_transformer.py
Labels: cla signed, ciflow/default

#4998 Mark CircleCI weight downloads with `source=ci`
  .circleci/config.yml
  .circleci/config.yml.in
Labels: module: ci, cla signed, ciflow/default, prototype

#4852 Update functional_tensor.py
  test/test_functional_tensor.py
  torchvision/transforms/functional_tensor.py
Labels: cla signed, ciflow/default

#4554 Use torch.ao.quantization instead of torch.quantizaiton
  references/classification/train_quantization.py
  references/classification/utils.py
  test/test_models.py
  torchvision/models/quantization/googlenet.py
  torchvision/models/quantization/inception.py
  torchvision/models/quantization/mobilenetv2.py
  torchvision/models/quantization/mobilenetv3.py
  torchvision/models/quantization/resnet.py
  torchvision/models/quantization/shufflenetv2.py
  torchvision/models/quantization/utils.py
Labels: module: models.quantization, cla signed, code quality, ciflow/default

#5003 Cleanup namings of Multi-weights classes and enums
  test/test_prototype_models.py
  torchvision/prototype/models/_api.py
  torchvision/prototype/models/_utils.py
  torchvision/prototype/models/alexnet.py
  torchvision/prototype/models/densenet.py
  torchvision/prototype/models/detection/faster_rcnn.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
  torchvision/prototype/models/detection/retinanet.py
  torchvision/prototype/models/detection/ssd.py
  torchvision/prototype/models/detection/ssdlite.py
  torchvision/prototype/models/efficientnet.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/inception.py
  torchvision/prototype/models/mnasnet.py
  torchvision/prototype/models/mobilenetv2.py
  torchvision/prototype/models/mobilenetv3.py
  torchvision/prototype/models/quantization/googlenet.py
  torchvision/prototype/models/quantization/inception.py
  torchvision/prototype/models/quantization/mobilenetv2.py
  torchvision/prototype/models/quantization/mobilenetv3.py
  torchvision/prototype/models/quantization/resnet.py
  torchvision/prototype/models/quantization/shufflenetv2.py
  torchvision/prototype/models/regnet.py
  torchvision/prototype/models/resnet.py
  torchvision/prototype/models/segmentation/deeplabv3.py
  torchvision/prototype/models/segmentation/fcn.py
  torchvision/prototype/models/segmentation/lraspp.py
  torchvision/prototype/models/shufflenetv2.py
  torchvision/prototype/models/squeezenet.py
  torchvision/prototype/models/vgg.py
  torchvision/prototype/models/video/resnet.py
  torchvision/prototype/models/vision_transformer.py
Labels: cla signed, code quality, ciflow/default, prototype

#4999 Fix bug on autocontrast when `min==max`
  test/test_functional_tensor.py
  test/test_transforms.py
  torchvision/transforms/functional_tensor.py
Labels: bug, module: transforms, cla signed, ciflow/default

#4983 cleanup CI config
  .circleci/config.yml
  .circleci/config.yml.in
  .pre-commit-config.yaml
Labels: module: ci, cla signed, code quality, ciflow/default

#5006 Refactor the `get_weights` API
  references/classification/train.py
  references/detection/train.py
  references/segmentation/train.py
  references/video_classification/train.py
  test/test_models.py
  test/test_prototype_models.py
  torchvision/prototype/models/__init__.py
  torchvision/prototype/models/_api.py
  torchvision/prototype/models/alexnet.py
  torchvision/prototype/models/densenet.py
  torchvision/prototype/models/detection/faster_rcnn.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
  torchvision/prototype/models/detection/retinanet.py
  torchvision/prototype/models/detection/ssd.py
  torchvision/prototype/models/detection/ssdlite.py
  torchvision/prototype/models/efficientnet.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/inception.py
  torchvision/prototype/models/mnasnet.py
  torchvision/prototype/models/mobilenetv2.py
  torchvision/prototype/models/mobilenetv3.py
  torchvision/prototype/models/quantization/googlenet.py
  torchvision/prototype/models/quantization/inception.py
  torchvision/prototype/models/quantization/mobilenetv2.py
  torchvision/prototype/models/quantization/mobilenetv3.py
  torchvision/prototype/models/quantization/resnet.py
  torchvision/prototype/models/quantization/shufflenetv2.py
  torchvision/prototype/models/regnet.py
  torchvision/prototype/models/resnet.py
  torchvision/prototype/models/segmentation/deeplabv3.py
  torchvision/prototype/models/segmentation/fcn.py
  torchvision/prototype/models/segmentation/lraspp.py
  torchvision/prototype/models/shufflenetv2.py
  torchvision/prototype/models/squeezenet.py
  torchvision/prototype/models/vgg.py
  torchvision/prototype/models/video/resnet.py
Labels: module: models, cla signed, ciflow/default, prototype

#4650 improve COCO prototype
  .circleci/config.yml
  .circleci/config.yml.in
  test/builtin_dataset_mocks.py
  test/datasets_utils.py
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/_builtin/coco.categories
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/datasets/benchmark.py
  torchvision/prototype/features/_bounding_box.py
Labels: enhancement, module: datasets, cla signed, ciflow/default, prototype

#4810 Feature extraction default arguments - ops
  test/test_ops.py
  torchvision/models/feature_extraction.py
  torchvision/ops/poolers.py
Labels: module: ops, topic: feature extraction, cla signed, ciflow/default

#5014 [FBcode->GH] remove unused requests functionality
  torchvision/datasets/utils.py
Labels: module: datasets, dependency issue, cla signed, code quality, ciflow/default
