Repository pytorch/vision, pull requests merged in 2022-03, with the labels that each got.

#5503 Recoded gaussian blur using pil_to_tensor instead of to_tensor
  torchvision/prototype/transforms/functional/_misc.py
  torchvision/transforms/functional.py
Labels: cla signed, ciflow/default

#5504 Prototype transforms cleanup
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_container.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5495 Move VideoReader out of __init__
  torchvision/io/__init__.py
  torchvision/io/video_reader.py
Labels: module: io, module: video, cla signed, code quality, ciflow/default

#5497 Improve test_videoapi
  test/test_videoapi.py
Labels: module: tests, module: video, cla signed, code quality, ciflow/default

#5498 Improve test_video_reader
  test/test_video_reader.py
Labels: module: io, module: video, cla signed, code quality, ciflow/default

#5499 Remove unused member variable and argument
  torchvision/csrc/io/decoder/gpu/demuxer.h
Labels: module: io, module: video, cla signed, code quality, ciflow/default

#5505 Allow cuda device to be passed without the index for GPU decoding
  test/test_video_gpu_decoder.py
  torchvision/csrc/io/decoder/gpu/gpu_decoder.cpp
  torchvision/csrc/io/decoder/gpu/gpu_decoder.h
  torchvision/io/video_reader.py
Labels: enhancement, module: io, module: video, cla signed, ciflow/default

#5509 Modify formatter version in contributing guide
  CONTRIBUTING.md
Labels: cla signed, ciflow/default

#5507 Remove unnecessary initialisation
  torchvision/csrc/io/decoder/gpu/gpu_decoder.cpp
Labels: module: io, module: video, cla signed, code quality, ciflow/default

#5450 Adding EfficientNetV2 architecture
  docs/source/models.rst
  hubconf.py
  references/classification/README.md
  test/expect/ModelTester.test_efficientnet_v2_l_expect.pkl
  test/expect/ModelTester.test_efficientnet_v2_m_expect.pkl
  test/expect/ModelTester.test_efficientnet_v2_s_expect.pkl
  torchvision/models/efficientnet.py
  torchvision/prototype/models/efficientnet.py
Labels: module: models, topic: classification, new feature, cla signed, ciflow/default

#5512 improve StrEnum
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/_utils.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/models/_api.py
  torchvision/prototype/utils/_internal.py
Labels: enhancement, cla signed, ciflow/default, prototype

#5506 add Country211 prototype dataset
  test/builtin_dataset_mocks.py
  torchvision/prototype/datasets/_builtin/__init__.py
  torchvision/prototype/datasets/_builtin/country211.categories
  torchvision/prototype/datasets/_builtin/country211.py
Labels: cla signed, ciflow/default

#5452 add EuroSAT prototype dataset
  test/builtin_dataset_mocks.py
  torchvision/prototype/datasets/_builtin/__init__.py
  torchvision/prototype/datasets/_builtin/eurosat.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5539 simplify Feature implementation
  torchvision/_utils.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_encoded.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_label.py
  torchvision/prototype/transforms/_geometry.py
Labels: cla signed, ciflow/default, prototype, module: features

#5515 Reduce unnecessary cuda sync in `anchor_utils.py`
  torchvision/models/detection/anchor_utils.py
Labels: cla signed, ciflow/default

#5544 Disabling smoke test for nightly builds
  .circleci/config.yml
  .circleci/regenerate.py
Labels: enhancement, module: ci, cla signed, ciflow/default

#5553 Remove `to_tensor()` and `ToTensor()` usages
  docs/source/models.rst
  references/detection/presets.py
  references/detection/transforms.py
  references/similarity/test.py
  references/similarity/train.py
  test/preprocess-bench.py
  test/sanity_checks.ipynb
  test/test_cpp_models.py
  test/test_onnx.py
  test/test_transforms.py
  test/test_utils.py
  torchvision/datasets/celeba.py
  torchvision/datasets/coco.py
  torchvision/datasets/flickr.py
  torchvision/datasets/kitti.py
  torchvision/transforms/transforms.py
Labels: module: transforms, cla signed, code quality, ciflow/default

#5545 [FBcode->GH] Fix accimage tests
  torchvision/transforms/functional_pil.py
Labels: enhancement, module: transforms, cla signed, ciflow/default

#5518 fix vanilla tensor image detection
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/_utils.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5556 fail test suite on unexpected passes
  pytest.ini
  test/test_prototype_builtin_datasets.py
Labels: module: tests, cla signed, ciflow/default

#5443 Use frozen BN only if pre-trained backbone
  torchvision/models/detection/faster_rcnn.py
  torchvision/models/detection/fcos.py
  torchvision/models/detection/keypoint_rcnn.py
  torchvision/models/detection/mask_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/prototype/models/detection/faster_rcnn.py
  torchvision/prototype/models/detection/fcos.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
  torchvision/prototype/models/detection/retinanet.py
Labels: bug, module: models, topic: object detection, cla signed, ciflow/default

#5559 Make ScaleJitter proportional
  references/detection/transforms.py
Labels: enhancement, module: transforms, cla signed, ciflow/default

#5513 port FiveCrop and TenCrop to prototype API
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5560 Adding improved MobileNetV2 weights
  torchvision/prototype/models/mobilenetv2.py
Labels: enhancement, module: models, cla signed, ciflow/default

#5562 Refactor preset transforms
  references/classification/train.py
  references/detection/train.py
  references/optical_flow/train.py
  references/segmentation/train.py
  references/video_classification/train.py
  torchvision/prototype/models/alexnet.py
  torchvision/prototype/models/convnext.py
  torchvision/prototype/models/densenet.py
  torchvision/prototype/models/detection/faster_rcnn.py
  torchvision/prototype/models/detection/fcos.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
  torchvision/prototype/models/detection/retinanet.py
  torchvision/prototype/models/detection/ssd.py
  torchvision/prototype/models/detection/ssdlite.py
  torchvision/prototype/models/efficientnet.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/inception.py
  torchvision/prototype/models/mnasnet.py
  torchvision/prototype/models/mobilenetv2.py
  torchvision/prototype/models/mobilenetv3.py
  torchvision/prototype/models/optical_flow/raft.py
  torchvision/prototype/models/quantization/googlenet.py
  torchvision/prototype/models/quantization/inception.py
  torchvision/prototype/models/quantization/mobilenetv2.py
  torchvision/prototype/models/quantization/mobilenetv3.py
  torchvision/prototype/models/quantization/resnet.py
  torchvision/prototype/models/quantization/shufflenetv2.py
  torchvision/prototype/models/regnet.py
  torchvision/prototype/models/resnet.py
  torchvision/prototype/models/segmentation/deeplabv3.py
  torchvision/prototype/models/segmentation/fcn.py
  torchvision/prototype/models/segmentation/lraspp.py
  torchvision/prototype/models/shufflenetv2.py
  torchvision/prototype/models/squeezenet.py
  torchvision/prototype/models/vgg.py
  torchvision/prototype/models/video/resnet.py
  torchvision/prototype/models/vision_transformer.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_presets.py
Labels: cla signed, code quality, ciflow/default, prototype

#5566 Recoded _max_value method using a dictionary
  test/test_transforms.py
  torchvision/transforms/functional_tensor.py
Labels: enhancement, module: transforms, cla signed, ciflow/default

#5576 Fix minor issues with model tests.
  test/test_models.py
Labels: module: tests, cla signed, code quality, ciflow/default

#5570 use upstream torchdata datapipes in prototype datasets
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/utils/_internal.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5567 support grayscale / RGB alpha conversions
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5574 Speed up Model tests by 20%
  test/expect/ModelTester.test_alexnet_expect.pkl
  test/expect/ModelTester.test_convnext_base_expect.pkl
  test/expect/ModelTester.test_convnext_large_expect.pkl
  test/expect/ModelTester.test_efficientnet_b6_expect.pkl
  test/expect/ModelTester.test_efficientnet_b7_expect.pkl
  test/expect/ModelTester.test_efficientnet_v2_l_expect.pkl
  test/expect/ModelTester.test_efficientnet_v2_m_expect.pkl
  test/expect/ModelTester.test_regnet_x_16gf_expect.pkl
  test/expect/ModelTester.test_regnet_x_32gf_expect.pkl
  test/expect/ModelTester.test_regnet_y_128gf_expect.pkl
  test/expect/ModelTester.test_regnet_y_16gf_expect.pkl
  test/expect/ModelTester.test_regnet_y_32gf_expect.pkl
  test/expect/ModelTester.test_resnext101_32x8d_expect.pkl
  test/expect/ModelTester.test_wide_resnet101_2_expect.pkl
  test/test_models.py
Labels: module: tests, module: ci, cla signed, ciflow/default

#5579 Add Python-3.10 (build and test) (#5420)
  .circleci/config.yml
  .circleci/regenerate.py
  packaging/pkg_helpers.bash
Labels: cla signed, ciflow/default

#5583 fix documentation version problems
  .circleci/config.yml
  .circleci/config.yml.in
  docs/source/conf.py
Labels: cla signed, ciflow/default

#5552 Improve test of backbone utils
  test/test_backbone_utils.py
Labels: enhancement, module: tests, cla signed, ciflow/default

#5586 revert changes to assert_equal
  test/common_utils.py
Labels: module: transforms, module: tests, cla signed, ciflow/default

#5596 Better handling for Pad's fill argument
  test/test_transforms.py
  torchvision/transforms/functional_pil.py
  torchvision/transforms/transforms.py
Labels: bug, module: transforms, cla signed, ciflow/default

#5598 Try to fix lint/mypy failed CI
  torchvision/prototype/transforms/functional/_geometry.py
Labels: cla signed, ciflow/default

#5599 fix typo in plot_visualization_utils.py
  gallery/plot_visualization_utils.py
Labels: enhancement, module: documentation, cla signed, ciflow/default

#5551 port RandomZoomOut from detection references to prototype transforms
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/transforms/functional_tensor.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5604 Moving `sequence_to_str` to `torchvision._utils`
  test/builtin_dataset_mocks.py
  test/test_internal_utils.py
  test/test_prototype_builtin_datasets.py
  torchvision/_utils.py
  torchvision/prototype/datasets/utils/_dataset.py
  torchvision/prototype/utils/_internal.py
Labels: module: utils, cla signed, code quality, ciflow/default

#5609 fix typo in docstrings of some transforms
  torchvision/transforms/transforms.py
Labels: bug, module: documentation, cla signed, ciflow/default

#5612 Update stable version
  README.rst
Labels: cla signed, ciflow/default

#5563 port RandomHorizontalFlip to prototype API
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: cla signed, ciflow/default

#5590 RAFT training reference Improvement
  references/optical_flow/train.py
  references/optical_flow/utils.py
Labels: cla signed, ciflow/default

#5617 Porting Detection models
  test/test_prototype_models.py
  torchvision/models/detection/__init__.py
  torchvision/models/detection/backbone_utils.py
  torchvision/models/detection/faster_rcnn.py
  torchvision/models/detection/fcos.py
  torchvision/models/detection/keypoint_rcnn.py
  torchvision/models/detection/mask_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/roi_heads.py
  torchvision/models/detection/ssd.py
  torchvision/models/detection/ssdlite.py
  torchvision/models/vgg.py
  torchvision/prototype/models/__init__.py
  torchvision/prototype/models/detection/__init__.py
  torchvision/prototype/models/detection/faster_rcnn.py
  torchvision/prototype/models/detection/fcos.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
  torchvision/prototype/models/detection/retinanet.py
  torchvision/prototype/models/detection/ssd.py
  torchvision/prototype/models/detection/ssdlite.py
Labels: enhancement, module: models, topic: object detection, cla signed, ciflow/default

#5619 Porting Optical Flow, Segmentation, Video models
  test/test_prototype_models.py
  torchvision/models/optical_flow/__init__.py
  torchvision/models/optical_flow/raft.py
  torchvision/models/segmentation/__init__.py
  torchvision/models/segmentation/_utils.py
  torchvision/models/segmentation/deeplabv3.py
  torchvision/models/segmentation/fcn.py
  torchvision/models/segmentation/lraspp.py
  torchvision/models/video/resnet.py
  torchvision/prototype/__init__.py
  torchvision/prototype/models/__init__.py
  torchvision/prototype/models/optical_flow/__init__.py
  torchvision/prototype/models/optical_flow/raft.py
  torchvision/prototype/models/segmentation/__init__.py
  torchvision/prototype/models/segmentation/deeplabv3.py
  torchvision/prototype/models/segmentation/fcn.py
  torchvision/prototype/models/segmentation/lraspp.py
  torchvision/prototype/models/video/__init__.py
  torchvision/prototype/models/video/resnet.py
Labels: enhancement, module: models, cla signed, ciflow/default

#5597 [proto] Added functional `affine_bounding_box` op
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/transforms/functional.py
Labels: module: transforms, new feature, cla signed, ciflow/default, prototype

#5620 Porting docs, examples, tutorials and galleries
  android/test_app/make_assets.py
  examples/cpp/hello_world/trace_model.py
  gallery/plot_optical_flow.py
  gallery/plot_repurposing_annotations.py
  gallery/plot_scripted_tensor_transforms.py
  gallery/plot_visualization_utils.py
  ios/VisionTestApp/make_assets.py
  test/tracing/frcnn/trace_model.py
  torchvision/models/_utils.py
  torchvision/models/detection/backbone_utils.py
  torchvision/models/detection/faster_rcnn.py
  torchvision/models/detection/fcos.py
  torchvision/models/detection/keypoint_rcnn.py
  torchvision/models/detection/mask_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/ssd.py
  torchvision/models/detection/ssdlite.py
  torchvision/models/googlenet.py
  torchvision/models/inception.py
  torchvision/transforms/_presets.py
Labels: enhancement, module: documentation, cla signed, ciflow/default

#5587 Replace asserts with exceptions
  references/classification/transforms.py
  references/detection/coco_eval.py
  references/detection/coco_utils.py
  references/optical_flow/transforms.py
  references/optical_flow/utils.py
  references/segmentation/coco_utils.py
  references/segmentation/utils.py
  references/similarity/sampler.py
  references/video_classification/utils.py
  test/test_backbone_utils.py
  test/test_models.py
  test/test_ops.py
  torchvision/datasets/kinetics.py
  torchvision/datasets/mnist.py
  torchvision/datasets/samplers/clip_sampler.py
  torchvision/datasets/sbd.py
  torchvision/datasets/video_utils.py
  torchvision/io/_video_opt.py
  torchvision/models/detection/_utils.py
  torchvision/models/detection/anchor_utils.py
  torchvision/models/detection/faster_rcnn.py
  torchvision/models/detection/fcos.py
  torchvision/models/detection/generalized_rcnn.py
  torchvision/models/detection/keypoint_rcnn.py
  torchvision/models/detection/mask_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/roi_heads.py
  torchvision/models/detection/rpn.py
  torchvision/models/detection/ssd.py
  torchvision/models/detection/ssdlite.py
  torchvision/models/detection/transform.py
  torchvision/models/feature_extraction.py
  torchvision/models/googlenet.py
  torchvision/models/inception.py
  torchvision/models/mnasnet.py
  torchvision/models/mobilenetv2.py
  torchvision/models/optical_flow/raft.py
  torchvision/models/shufflenetv2.py
  torchvision/models/vision_transformer.py
  torchvision/ops/_utils.py
  torchvision/ops/boxes.py
  torchvision/ops/feature_pyramid_network.py
  torchvision/ops/poolers.py
  torchvision/prototype/models/detection/ssdlite.py
  torchvision/transforms/_functional_video.py
  torchvision/transforms/_transforms_video.py
  torchvision/utils.py
Labels: cla signed, ciflow/default

#5622 Porting model tests
  .circleci/config.yml
  .circleci/config.yml.in
  test/test_backbone_utils.py
  test/test_cpp_models.py
  test/test_extended_models.py
  test/test_hub.py
  test/test_models.py
  test/test_models_detection_negative_samples.py
  test/test_models_detection_utils.py
  test/test_onnx.py
  torchvision/models/detection/backbone_utils.py
Labels: enhancement, module: models, module: tests, cla signed, ciflow/default

#5623 [FBcode->GH] JIT scriptable _max_value
  torchvision/transforms/functional_tensor.py
Labels: enhancement, module: transforms, cla signed, ciflow/default

#5621 port Pad to prototype transforms
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_geometry.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5624 Bump up LibTorchvision version number for Podspec to release Cocoapods
  ios/LibTorchvision.podspec
Labels: topic: mobile, cla signed, ciflow/default, other

#5625 pre-download model weights in CI docs build
  .circleci/config.yml
  .circleci/config.yml.in
  scripts/collect_model_urls.py
Labels: module: models, module: documentation, module: ci, cla signed, ciflow/default

#5628 Update CI on Multiweight branch to use the new weight download approach
  .circleci/config.yml
  .circleci/config.yml.in
  ios/LibTorchvision.podspec
  scripts/collect_model_urls.py
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_geometry.py
Labels: enhancement, module: ci, cla signed, ciflow/default

#5631 Remove unnecessary PYTORCH_TEST_WITH_SLOW env
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/windows/scripts/run_test.sh
  test/test_models.py
Labels: enhancement, module: tests, module: ci, cla signed, ciflow/default

#5633 refactor: port RandomVerticalFlip to prototype API (#5524)
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5629 Porting reference scripts and updating presets
  docs/source/models.rst
  gallery/plot_optical_flow.py
  gallery/plot_repurposing_annotations.py
  gallery/plot_visualization_utils.py
  references/classification/README.md
  references/classification/train.py
  references/classification/train_quantization.py
  references/classification/utils.py
  references/detection/README.md
  references/detection/train.py
  references/optical_flow/README.md
  references/optical_flow/train.py
  references/segmentation/README.md
  references/segmentation/train.py
  references/video_classification/presets.py
  references/video_classification/train.py
  test/test_extended_models.py
  test/test_models.py
  torchvision/models/alexnet.py
  torchvision/models/convnext.py
  torchvision/models/densenet.py
  torchvision/models/detection/faster_rcnn.py
  torchvision/models/detection/fcos.py
  torchvision/models/detection/keypoint_rcnn.py
  torchvision/models/detection/mask_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/ssd.py
  torchvision/models/detection/ssdlite.py
  torchvision/models/efficientnet.py
  torchvision/models/googlenet.py
  torchvision/models/inception.py
  torchvision/models/mnasnet.py
  torchvision/models/mobilenetv2.py
  torchvision/models/mobilenetv3.py
  torchvision/models/optical_flow/raft.py
  torchvision/models/quantization/googlenet.py
  torchvision/models/quantization/inception.py
  torchvision/models/quantization/mobilenetv2.py
  torchvision/models/quantization/mobilenetv3.py
  torchvision/models/quantization/resnet.py
  torchvision/models/quantization/shufflenetv2.py
  torchvision/models/regnet.py
  torchvision/models/resnet.py
  torchvision/models/segmentation/deeplabv3.py
  torchvision/models/segmentation/fcn.py
  torchvision/models/segmentation/lraspp.py
  torchvision/models/shufflenetv2.py
  torchvision/models/squeezenet.py
  torchvision/models/vgg.py
  torchvision/models/video/resnet.py
  torchvision/models/vision_transformer.py
  torchvision/transforms/__init__.py
  torchvision/transforms/_presets.py
Labels: enhancement, module: transforms, module: reference scripts, cla signed, ciflow/default

#5639 add random apply transform base class
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_container.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_transform.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5643 fix mobilnet norm layer test
  test/test_models.py
Labels: module: models, module: tests, cla signed, ciflow/default

#5653 Setting `weights_backbone` to its fully BC value
  test/test_backbone_utils.py
  test/test_models.py
  test/test_models_detection_negative_samples.py
  test/test_models_detection_utils.py
  test/tracing/frcnn/trace_model.py
  torchvision/models/detection/backbone_utils.py
  torchvision/models/detection/faster_rcnn.py
  torchvision/models/detection/fcos.py
  torchvision/models/detection/keypoint_rcnn.py
  torchvision/models/detection/mask_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/ssd.py
  torchvision/models/detection/ssdlite.py
  torchvision/models/segmentation/deeplabv3.py
  torchvision/models/segmentation/fcn.py
  torchvision/models/segmentation/lraspp.py
Labels: cla signed, ciflow/default

#5652 More robust check in tests for 16 bits images
  test/test_image.py
Labels: bug, module: tests, module: io, cla signed, ciflow/default

#5648 Prefer nvidia channel for conda builds
  .circleci/unittest/linux/scripts/install.sh
  packaging/build_cmake.sh
  packaging/build_conda.sh
Labels: cla signed, ciflow/default

#5657 fix torchdata CI installation
  .circleci/config.yml
  .circleci/config.yml.in
Labels: dependency issue, module: ci, cla signed

#5578 update urls for kinetics dataset
  torchvision/datasets/kinetics.py
Labels: module: datasets, cla signed, ciflow/default

#5656 port ColorJitter to prototype transforms
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_color.py
Labels: module: transforms, cla signed, prototype

#5661 remove shufflenet_v2_x1_5 and shufflenet_v2_x2_0 from models.rst
  docs/source/models.rst
Labels: enhancement, module: documentation, cla signed

#5638 [proto] Added functional rotate_bounding_box op
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, new feature, cla signed, ciflow/default, prototype

#5666 add instructions how to add tests for prototype datasets
  torchvision/prototype/datasets/_builtin/README.md
Labels: module: datasets, cla signed, prototype

#5613 [proto] Added functional affine_segmentation_mask op
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: cla signed, ciflow/default

#5669 fix HttpResource.resolve() with preprocessing
  test/test_prototype_datasets_utils.py
  torchvision/prototype/datasets/_builtin/README.md
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/cub200.py
  torchvision/prototype/datasets/_builtin/dtd.py
  torchvision/prototype/datasets/_builtin/oxford_iiit_pet.py
  torchvision/prototype/datasets/_builtin/pcam.py
  torchvision/prototype/datasets/utils/_resource.py
Labels: bug, module: datasets, cla signed, prototype

#5637 Default tracer args
  torchvision/models/feature_extraction.py
Labels: cla signed, ciflow/default

#5672 install torchdata from nightly releases in CI
  .circleci/config.yml
  .circleci/config.yml.in
Labels: cla signed

#5647 USPS dataset
  test/builtin_dataset_mocks.py
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/_builtin/__init__.py
  torchvision/prototype/datasets/_builtin/usps.py
Labels: cla signed, ciflow/default

#5677 Fixed rotate with expand inconsistency
  test/test_functional_tensor.py
  torchvision/transforms/functional_tensor.py
Labels: bug, module: transforms, cla signed

#5540 Turn warnings in prototype datasets tests into errors
  test/builtin_dataset_mocks.py
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/pcam.py
  torchvision/prototype/datasets/utils/_resource.py
Labels: module: datasets, module: tests, cla signed, ciflow/default, prototype

#5644 Attempt to fix FFMPEG 5.0 compatibility
  torchvision/csrc/io/decoder/decoder.cpp
  torchvision/csrc/io/decoder/stream.cpp
  torchvision/csrc/io/decoder/subtitle_stream.cpp
Labels: enhancement, module: io, module: video, cla signed, ciflow/default

#5685 call _upcast to consider overflow for computing giou loss
  torchvision/ops/giou_loss.py
Labels: enhancement, module: ops, cla signed

#5680 enforce shuffling before sharding
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/_builtin/README.md
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/celeba.py
  torchvision/prototype/datasets/_builtin/cifar.py
  torchvision/prototype/datasets/_builtin/clevr.py
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/datasets/_builtin/country211.py
  torchvision/prototype/datasets/_builtin/cub200.py
  torchvision/prototype/datasets/_builtin/dtd.py
  torchvision/prototype/datasets/_builtin/eurosat.py
  torchvision/prototype/datasets/_builtin/fer2013.py
  torchvision/prototype/datasets/_builtin/gtsrb.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/_builtin/oxford_iiit_pet.py
  torchvision/prototype/datasets/_builtin/pcam.py
  torchvision/prototype/datasets/_builtin/sbd.py
  torchvision/prototype/datasets/_builtin/semeion.py
  torchvision/prototype/datasets/_builtin/stanford_cars.py
  torchvision/prototype/datasets/_builtin/svhn.py
  torchvision/prototype/datasets/_builtin/usps.py
  torchvision/prototype/datasets/_builtin/voc.py
Labels: module: datasets, cla signed, prototype

#5690 Adding log call on giou loss
  torchvision/ops/giou_loss.py
Labels: enhancement, module: ops, cla signed

#5696 Add .git-blame-ignore-revs to ignore specific commits in git blame
  .git-blame-ignore-revs
Labels: module: ci, cla signed, other

#5691 Remove input checks for generalized_box_iou
  torchvision/ops/boxes.py
Labels: module: ops, cla signed, code quality

#5659 reverting some recently introduced exceptions
  test/test_models.py
  test/test_models_detection_anchor_utils.py
  test/test_ops.py
  torchvision/models/detection/_utils.py
  torchvision/models/detection/anchor_utils.py
  torchvision/models/detection/faster_rcnn.py
  torchvision/models/detection/fcos.py
  torchvision/models/detection/generalized_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/ssd.py
  torchvision/models/detection/transform.py
  torchvision/ops/_utils.py
Labels: topic: feature extraction, cla signed, code quality

#5693 update hint_shuffling
  torchvision/prototype/datasets/utils/_internal.py
Labels: module: datasets, cla signed, prototype

#5707 add test to enforce infinite buffer size for all applicable datapipes
  test/test_prototype_builtin_datasets.py
Labels: module: datasets, cla signed, prototype

#5713 Make nvjpeg handle creation once_flag static
  torchvision/csrc/io/image/cuda/decode_jpeg_cuda.cpp
Labels: bug, module: io, cla signed

#5663 port RandomPhotoMetricDistort to prototype transforms
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_color.py
Labels: module: transforms, module: reference scripts, cla signed, prototype
