Repository pytorch/vision, pull requests merged in 2022-02, with the labels that each got.

#5253 Adding more ConvNeXt variants + Speed optimizations
  docs/source/models.rst
  references/classification/README.md
  test/expect/ModelTester.test_convnext_base_expect.pkl
  test/expect/ModelTester.test_convnext_large_expect.pkl
  test/expect/ModelTester.test_convnext_small_expect.pkl
  torchvision/prototype/models/convnext.py
Labels: enhancement, module: models, cla signed, prototype

#5327 Removed unused member functions from GPU decoder
  torchvision/csrc/io/decoder/gpu/decoder.h
Labels: module: video, cla signed, code quality, ciflow/default

#5328 Updated gpu decoder test to use parametrize
  test/test_video_gpu_decoder.py
Labels: module: tests, cla signed, ciflow/default

#5151 resolve redirection for HTTP resources
  torchvision/prototype/datasets/utils/_resource.py
Labels: enhancement, module: datasets, cla signed, ciflow/default, prototype

#5330 Graduate ConvNeXt to main TorchVision area
  docs/source/models.rst
  hubconf.py
  torchvision/models/__init__.py
  torchvision/models/convnext.py
  torchvision/prototype/models/convnext.py
Labels: module: models, new feature, cla signed, ciflow/default

#5332 remove debugging asserts in giou_loss.py
  torchvision/ops/giou_loss.py
Labels: enhancement, module: ops, cla signed, ciflow/default

#5334 Add --prototype flag to quantization script
  references/classification/train_quantization.py
Labels: module: reference scripts, module: models.quantization, cla signed, ciflow/default, prototype

#5299 Implement is_qat in TorchVision
  references/classification/train.py
  references/classification/train_quantization.py
  references/classification/utils.py
  test/test_models.py
  torchvision/models/quantization/googlenet.py
  torchvision/models/quantization/inception.py
  torchvision/models/quantization/mobilenetv2.py
  torchvision/models/quantization/mobilenetv3.py
  torchvision/models/quantization/resnet.py
  torchvision/models/quantization/shufflenetv2.py
  torchvision/models/quantization/utils.py
  torchvision/prototype/models/quantization/mobilenetv3.py
Labels: module: models.quantization, cla signed, ciflow/default, other

#5285 Added center as top-left for shear X/Y ops for autoaugment
  torchvision/transforms/autoaugment.py
Labels: bug, module: transforms, cla signed, bc-breaking, ciflow/default

#5302 Expose generalized_box_iou to docs
  docs/source/ops.rst
Labels: enhancement, module: documentation, cla signed, ciflow/default

#5331 Move all weight initializations from private methods to constructors
  torchvision/models/googlenet.py
  torchvision/models/mnasnet.py
  torchvision/models/optical_flow/raft.py
  torchvision/models/regnet.py
  torchvision/models/vgg.py
  torchvision/models/video/resnet.py
  torchvision/models/vision_transformer.py
Labels: module: models, cla signed, code quality, ciflow/default

#5042 Removing code coverage and cleanup tox
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/windows/scripts/run_test.sh
  .coveragerc
  tox.ini
Labels: cla signed, ciflow/default

#5127 Random colors for drawing boxes
  test/test_utils.py
  torchvision/utils.py
Labels: cla signed, ciflow/default

#5368 Categorize dataset doc page into sections
  docs/source/datasets.rst
Labels: enhancement, module: documentation, cla signed, ciflow/default

#5373 Minor edit in torchvision/prototype/datasets/_builtin/README.md
  torchvision/prototype/datasets/_builtin/README.md
Labels: enhancement, module: documentation, cla signed, ciflow/default

#5372 Fix URL to Flickr30kEntities webpage
  torchvision/datasets/flickr.py
Labels: cla signed, ciflow/default

#5315 Model contrib guidelines
  CONTRIBUTING.md
  CONTRIBUTING_MODELS.md
Labels: module: models, module: documentation, cla signed, ciflow/default

#5377 fix prototype features and functional transforms after review
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_label.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_container.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_transform.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5381 Change default weights of RAFT model builders
  torchvision/models/optical_flow/raft.py
  torchvision/prototype/models/optical_flow/raft.py
Labels: module: models, cla signed, ciflow/default, other

#5386 Remove APIs that were deprecated before 0.8
  docs/source/transforms.rst
  test/test_ops.py
  torchvision/datasets/imagenet.py
  torchvision/ops/misc.py
  torchvision/transforms/functional.py
  torchvision/transforms/functional_tensor.py
  torchvision/transforms/transforms.py
Labels: cla signed, code quality, ciflow/default, other

#5389 fix `make html-noplot` docs build command
  docs/Makefile
Labels: module: documentation, cla signed, code quality, ciflow/default

#5387 properly deprecate legacy implementation
  docs/source/datasets.rst
  test/test_functional_tensor.py
  test/test_transforms.py
  torchvision/csrc/models/modelsimpl.h
  torchvision/datasets/kinetics.py
  torchvision/models/mobilenetv2.py
  torchvision/models/segmentation/segmentation.py
  torchvision/ops/poolers.py
  torchvision/transforms/_functional_video.py
  torchvision/transforms/_transforms_video.py
  torchvision/transforms/functional.py
  torchvision/transforms/transforms.py
  torchvision/utils.py
Labels: cla signed, code quality, ciflow/default, other

#5380 Refactor BoxOps tests to use parameterize
  test/test_ops.py
Labels: module: tests, cla signed, code quality, ciflow/default

#5316 Add example for optical flow visualizaition and RAFT
  gallery/assets/basketball.mp4
  gallery/plot_optical_flow.py
  torchvision/models/optical_flow/raft.py
Labels: enhancement, module: documentation, cla signed, ciflow/default

#5392 Consolidate repr
  references/classification/transforms.py
  test/test_datasets_download.py
  torchvision/models/detection/anchor_utils.py
  torchvision/models/detection/transform.py
  torchvision/models/efficientnet.py
  torchvision/ops/deform_conv.py
  torchvision/ops/ps_roi_align.py
  torchvision/ops/ps_roi_pool.py
  torchvision/ops/roi_align.py
  torchvision/ops/roi_pool.py
  torchvision/ops/stochastic_depth.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/models/_api.py
  torchvision/transforms/_transforms_video.py
  torchvision/transforms/autoaugment.py
  torchvision/transforms/transforms.py
Labels: cla signed, ciflow/default

#5391 properly deprecate legacy implementation -- bis
  torchvision/datasets/voc.py
  torchvision/models/mobilenetv3.py
Labels: cla signed, deprecation, code quality, ciflow/default

#5395 Bump version
  android/gradle.properties
  packaging/build_cmake.sh
  packaging/build_conda.sh
  packaging/build_wheel.sh
  version.txt
Labels: cla signed, ciflow/default

#5397 properly deprecate legacy implementation -- bis (#5391)
  torchvision/datasets/voc.py
  torchvision/models/mobilenetv3.py
Labels: cla signed, ciflow/default

#5402 Refactor Augmentation Space calls to speed up
  torchvision/transforms/autoaugment.py
Labels: module: transforms, cla signed, Perf, code quality, ciflow/default

#5401 Keep prototype.datasets._api.find() private
  torchvision/prototype/datasets/__init__.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5323 add automatic feature type dispatch to functional transforms
  test/test_prototype_transforms_kernels.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_encoded.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_misc.py
  torchvision/prototype/transforms/functional/_utils.py
  torchvision/prototype/transforms/kernels/__init__.py
  torchvision/prototype/transforms/kernels/_augment.py
  torchvision/prototype/transforms/kernels/_color.py
  torchvision/prototype/transforms/kernels/_geometry.py
  torchvision/prototype/transforms/kernels/_meta_conversion.py
  torchvision/prototype/transforms/kernels/_misc.py
  torchvision/prototype/transforms/kernels/_type_conversion.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5400 [v0.12.0] .circleci: Bump version for pytorch 1.11.0
  .circleci/config.yml
  .circleci/config.yml.in
Labels: cla signed, ciflow/default

#5407 Revamp prototype features and transforms
  mypy.ini
  test/builtin_dataset_mocks.py
  test/test_prototype_builtin_datasets.py
  test/test_prototype_datasets_api.py
  test/test_prototype_features.py
  test/test_prototype_transforms.py
  test/test_prototype_transforms_kernels.py
  torchvision/prototype/datasets/__init__.py
  torchvision/prototype/datasets/_api.py
  torchvision/prototype/datasets/_builtin/README.md
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/celeba.py
  torchvision/prototype/datasets/_builtin/cifar.py
  torchvision/prototype/datasets/_builtin/clevr.py
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/datasets/_builtin/cub200.py
  torchvision/prototype/datasets/_builtin/dtd.py
  torchvision/prototype/datasets/_builtin/fer2013.py
  torchvision/prototype/datasets/_builtin/gtsrb.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/_builtin/oxford_iiit_pet.py
  torchvision/prototype/datasets/_builtin/pcam.py
  torchvision/prototype/datasets/_builtin/sbd.py
  torchvision/prototype/datasets/_builtin/semeion.py
  torchvision/prototype/datasets/_builtin/svhn.py
  torchvision/prototype/datasets/_builtin/voc.categories
  torchvision/prototype/datasets/_builtin/voc.py
  torchvision/prototype/datasets/_folder.py
  torchvision/prototype/datasets/decoder.py
  torchvision/prototype/datasets/utils/__init__.py
  torchvision/prototype/datasets/utils/_dataset.py
  torchvision/prototype/datasets/utils/_internal.py
  torchvision/prototype/features/__init__.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_encoded.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_label.py
  torchvision/prototype/features/_segmentation_mask.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_container.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_transform.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_misc.py
  torchvision/prototype/transforms/functional/_utils.py
  torchvision/prototype/transforms/kernels/__init__.py
  torchvision/prototype/transforms/kernels/_augment.py
  torchvision/prototype/transforms/kernels/_color.py
  torchvision/prototype/transforms/kernels/_geometry.py
  torchvision/prototype/transforms/kernels/_meta_conversion.py
  torchvision/prototype/transforms/kernels/_misc.py
  torchvision/prototype/transforms/kernels/_type_conversion.py
  torchvision/prototype/utils/_internal.py
Labels: enhancement, module: datasets, module: transforms, cla signed, ciflow/default, prototype

#5417 Cleanup prototype kernel dispatchers
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_misc.py
  torchvision/prototype/transforms/kernels/__init__.py
  torchvision/prototype/transforms/kernels/_color.py
  torchvision/prototype/transforms/kernels/_geometry.py
  torchvision/prototype/transforms/kernels/_misc.py
Labels: enhancement, module: transforms, cla signed, ciflow/default, prototype

#5412 fix prototype MNIST download
  torchvision/prototype/datasets/_builtin/mnist.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5329 Remove custom ops interpolation with antialiasing
  android/ops/CMakeLists.txt
  ios/CMakeLists.txt
  test/test_functional_tensor.py
  torchvision/csrc/ops/cpu/interpolate_aa_kernels.cpp
  torchvision/csrc/ops/cuda/interpolate_aa_kernels.cu
  torchvision/csrc/ops/interpolate_aa.cpp
  torchvision/csrc/ops/interpolate_aa.h
  torchvision/transforms/functional_tensor.py
Labels: module: ops, cla signed, code quality, ciflow/default

#5409 Fix resize when size == small_edge_size and max_size isn't None
  test/test_transforms.py
  torchvision/transforms/functional_pil.py
  torchvision/transforms/functional_tensor.py
Labels: bug, module: transforms, cla signed, ciflow/default

#5425 fix archive checksum for VOC 2009
  torchvision/datasets/voc.py
Labels: bug, module: datasets, cla signed, ciflow/default

#5428 Fixes device mismatch issue while building docs
  torchvision/utils.py
Labels: bug, module: documentation, cla signed, ciflow/default

#5418 add prototype transforms that use the prototype dispatchers
  test/test_prototype_builtin_datasets.py
  test/test_prototype_transforms.py
  test/test_prototype_transforms_kernels.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_container.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta_conversion.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_transform.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta_conversion.py
  torchvision/prototype/transforms/functional/_misc.py
  torchvision/prototype/transforms/functional/_utils.py
  torchvision/prototype/utils/_internal.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5434 Fix functional.adjust_gamma (#5427)
  torchvision/transforms/functional_pil.py
Labels: cla signed, ciflow/default

#5432 add option to fail a transform on certain types rather than passthrough
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_transform.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5437 Delete stale packaging scripts (#5433)
  packaging/README.md
  packaging/wheel/linux_manywheel.sh
  packaging/wheel/osx_wheel.sh
Labels: cla signed, ciflow/default

#5411 Adding AugMix implementation
  docs/source/transforms.rst
  gallery/plot_transforms.py
  references/classification/presets.py
  test/test_transforms.py
  test/test_transforms_tensor.py
  torchvision/transforms/autoaugment.py
Labels: module: transforms, new feature, cla signed, ciflow/default

#5435 Adding Scale Jitter transform for detection
  references/detection/transforms.py
Labels: module: transforms, module: reference scripts, new feature, cla signed, ciflow/default

#5446 Fix bbox scaling estimation for Large Scale Jitter
  references/detection/transforms.py
Labels: module: transforms, module: reference scripts, cla signed, ciflow/default

#5420 Add Python-3.10 (build and test)
  .circleci/config.yml
  .circleci/regenerate.py
  packaging/pkg_helpers.bash
Labels: cla signed, ciflow/default

#5447 fix prototype resource loading
  torchvision/prototype/datasets/utils/_resource.py
Labels: bug, module: datasets, cla signed, ciflow/default, prototype

#5454 disable ufmt pre-commit hook
  .circleci/config.yml
  .circleci/config.yml.in
  .pre-commit-config.yaml
Labels: dependency issue, cla signed, code quality, ciflow/default

#5460 Reinstate ufmt pre commit hook
  .circleci/config.yml
  .circleci/config.yml.in
  .pre-commit-config.yaml
Labels: dependency issue, cla signed, revert(ed), code quality, ciflow/default

#5462 add tensor kernels for normalize and erase
  torchvision/transforms/functional.py
  torchvision/transforms/functional_tensor.py
Labels: enhancement, module: transforms, cla signed, ciflow/default

#5457 Make small improvements to the release notes scripts
  scripts/release_notes/classify_prs.py
Labels: module: documentation, cla signed, ciflow/default

#5310 Add topk min function for trace and onnx
  torchvision/models/detection/_utils.py
  torchvision/models/detection/fcos.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/rpn.py
  torchvision/models/detection/ssd.py
Labels: awaiting response, module: models, module: onnx, cla signed, ciflow/default

#5451 Update hardcoded WIN-CUDA from 11.1 with 11.3
  .circleci/config.yml
  .circleci/config.yml.in
  .circleci/unittest/windows/scripts/environment.yml
  .circleci/unittest/windows/scripts/install.sh
  test/test_transforms_tensor.py
Labels: enhancement, module: ci, cla signed, ciflow/default

#5467 Update hardcoded WIN-CUDA from 11.1 with 11.3 (#5451)
  .circleci/config.yml
  .circleci/config.yml.in
  .circleci/unittest/windows/scripts/environment.yml
  .circleci/unittest/windows/scripts/install.sh
  test/test_transforms_tensor.py
Labels: cla signed, ciflow/default

#5471 Removing Win CU11.1 support (Cherrypick #5470)
  .circleci/config.yml
  .circleci/regenerate.py
Labels: windows, topic: binaries, module: ci, cla signed

#5448 refactor prototype datasets to inherit from IterDataPipe
  test/builtin_dataset_mocks.py
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/__init__.py
  torchvision/prototype/datasets/_api.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/generate_category_files.py
  torchvision/prototype/datasets/utils/__init__.py
  torchvision/prototype/datasets/utils/_dataset.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5472 Revert exposing convNormActivation in ops
  docs/source/ops.rst
  torchvision/models/optical_flow/raft.py
  torchvision/ops/__init__.py
Labels: cla signed, ciflow/default

#5474 Revert exposing convNormActivation in ops (#5472)
  docs/source/ops.rst
  torchvision/models/optical_flow/raft.py
  torchvision/ops/__init__.py
Labels: cla signed, ciflow/default

#5475 Add barriers after init_process_group() for all recipes
  references/classification/utils.py
  references/optical_flow/utils.py
  references/segmentation/utils.py
  references/video_classification/utils.py
Labels: enhancement, module: reference scripts, cla signed, ciflow/default

#5468 Use onnx function only in tracing mode
  torchvision/models/detection/_utils.py
Labels: module: models, topic: object detection, module: onnx, cla signed, code quality, ciflow/default

#5477 Disable CUDA 11.1 builds
  .circleci/config.yml
  .circleci/regenerate.py
Labels: module: ci, cla signed, ciflow/default, other

#5478 Disable CUDA 11.1 builds (#5477)
  .circleci/config.yml
  .circleci/regenerate.py
Labels: cla signed, ciflow/default

#5445 Add Conv2dNormActivation and Conv3dNormActivation Blocks
  docs/source/ops.rst
  torchvision/models/convnext.py
  torchvision/models/detection/ssdlite.py
  torchvision/models/efficientnet.py
  torchvision/models/mobilenetv2.py
  torchvision/models/mobilenetv3.py
  torchvision/models/optical_flow/raft.py
  torchvision/models/quantization/mobilenetv2.py
  torchvision/models/quantization/mobilenetv3.py
  torchvision/models/regnet.py
  torchvision/models/vision_transformer.py
  torchvision/ops/__init__.py
  torchvision/ops/misc.py
Labels: enhancement, module: ops, cla signed, ciflow/default

#5421 Transforms without dispatcher
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_encoded.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_container.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta_conversion.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_transform.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta_conversion.py
  torchvision/prototype/transforms/functional/_misc.py
  torchvision/prototype/transforms/functional/_type_conversion.py
  torchvision/prototype/transforms/functional/_utils.py
  torchvision/prototype/transforms/kernels/__init__.py
  torchvision/prototype/transforms/kernels/_augment.py
  torchvision/prototype/transforms/kernels/_color.py
  torchvision/prototype/transforms/kernels/_geometry.py
  torchvision/prototype/transforms/kernels/_meta_conversion.py
  torchvision/prototype/transforms/kernels/_misc.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5482 Add warning in docs and Cpp code for nvjpeg leak on CUDA < 11.6
  torchvision/csrc/io/image/cuda/decode_jpeg_cuda.cpp
  torchvision/io/image.py
Labels: bug, module: io, cla signed, ciflow/default

#5485 Remove center from PIL affine
  torchvision/prototype/transforms/functional/_geometry.py
Labels: bug, module: transforms, cla signed, ciflow/default, prototype

#5484 Update attribute name for readability
  test/test_video_gpu_decoder.py
  torchvision/io/__init__.py
  torchvision/io/_load_gpu_decoder.py
Labels: module: io, cla signed, code quality, ciflow/default

#5416 New Feature: add DropBlock layer
  docs/source/ops.rst
  test/test_ops.py
  torchvision/ops/__init__.py
  torchvision/ops/drop_block.py
Labels: module: ops, new feature, cla signed, ciflow/default

#5469 Simplify EMA to use Pytorch's update_parameters
  references/classification/utils.py
Labels: enhancement, module: reference scripts, cla signed, ciflow/default

#5487 Replace get_image_size/num_channels with get_dimensions
  docs/source/transforms.rst
  references/classification/transforms.py
  references/detection/transforms.py
  test/test_functional_tensor.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/prototype/transforms/functional/_utils.py
  torchvision/transforms/autoaugment.py
  torchvision/transforms/functional.py
  torchvision/transforms/functional_pil.py
  torchvision/transforms/functional_tensor.py
  torchvision/transforms/transforms.py
Labels: enhancement, module: transforms, cla signed, ciflow/default

#5488 Fix append of audio_pts
  gallery/plot_video_api.py
Labels: cla signed, ciflow/default

#5492 add prototype AugMix transform
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/utils/_internal.py
Labels: module: transforms, cla signed, ciflow/default, prototype
