Repository pytorch/vision, pull requests merged in 2022-08, with the labels that each got.

#6333 Add registration mechanism for models
  docs/source/models.rst
  test/test_backbone_utils.py
  test/test_extended_models.py
  test/test_models.py
  test/test_models_detection_negative_samples.py
  test/test_prototype_models.py
  torchvision/models/__init__.py
  torchvision/models/_api.py
  torchvision/models/alexnet.py
  torchvision/models/convnext.py
  torchvision/models/densenet.py
  torchvision/models/detection/faster_rcnn.py
  torchvision/models/detection/fcos.py
  torchvision/models/detection/keypoint_rcnn.py
  torchvision/models/detection/mask_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/ssd.py
  torchvision/models/detection/ssdlite.py
  torchvision/models/efficientnet.py
  torchvision/models/googlenet.py
  torchvision/models/inception.py
  torchvision/models/mnasnet.py
  torchvision/models/mobilenetv2.py
  torchvision/models/mobilenetv3.py
  torchvision/models/optical_flow/raft.py
  torchvision/models/quantization/googlenet.py
  torchvision/models/quantization/inception.py
  torchvision/models/quantization/mobilenetv2.py
  torchvision/models/quantization/mobilenetv3.py
  torchvision/models/quantization/resnet.py
  torchvision/models/quantization/shufflenetv2.py
  torchvision/models/regnet.py
  torchvision/models/resnet.py
  torchvision/models/segmentation/deeplabv3.py
  torchvision/models/segmentation/fcn.py
  torchvision/models/segmentation/lraspp.py
  torchvision/models/shufflenetv2.py
  torchvision/models/squeezenet.py
  torchvision/models/swin_transformer.py
  torchvision/models/vgg.py
  torchvision/models/video/mvit.py
  torchvision/models/video/resnet.py
  torchvision/models/vision_transformer.py
  torchvision/prototype/models/depth/stereo/raft_stereo.py
Labels: module: models, new feature, cla signed

#6340 Remove duplicate doc args.
  torchvision/models/regnet.py
Labels: enhancement, module: documentation, cla signed

#6277 cleanup for box encoding and decoding in FCOS
  test/test_models_detection_utils.py
  torchvision/models/detection/_utils.py
  torchvision/models/detection/fcos.py
Labels: module: models, cla signed, code quality

#6338 Fix d/c IoU for different batch sizes
  test/test_ops.py
  torchvision/ops/boxes.py
  torchvision/ops/ciou_loss.py
Labels: bug, module: ops, cla signed

#6343 Fix d/c IoU for different batch sizes
  test/test_ops.py
  torchvision/ops/boxes.py
  torchvision/ops/ciou_loss.py
Labels: bug, module: ops, cla signed

#6311 Splitting Stereo Dataset PR(#6269)
  docs/source/datasets.rst
  test/datasets_utils.py
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/_stereo_matching.py
Labels: cla signed

#6357 [FBcode->GH] Move func calls outside of *CHECK_*
  torchvision/csrc/io/decoder/sync_decoder_test.cpp
Labels: bug, module: video, cla signed

#6359 [FBcode->GH] Handle images with AV_PIX_FMT_PAL8 pixel format in decoder callback
  torchvision/csrc/io/decoder/video_sampler.cpp
Labels: enhancement, module: video, cla signed

#6360 Fix broken linter on main branch
  torchvision/csrc/io/decoder/video_sampler.cpp
Labels: module: ci, cla signed, code quality

#6362 Move from xcode 12 to 14 (#6218)
  .circleci/config.yml
  .circleci/config.yml.in
Labels: cla signed

#6345 Added SceneFLow variant datasets
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/_stereo_matching.py
Labels: cla signed

#6376 Type fix in transformers.py
  references/detection/transforms.py
Labels: module: reference scripts, cla signed, code quality

#6380 Make test precision stricter for Classification
  test/test_models.py
Labels: enhancement, module: tests, cla signed

#6364 Expose on Hub the public methods of the registration API
  docs/source/models.rst
  hubconf.py
  torchvision/models/_api.py
Labels: enhancement, module: hub, cla signed

#6369 Update references to use the new Model Registration API
  references/classification/train.py
  references/classification/train_quantization.py
  references/detection/train.py
  references/optical_flow/train.py
  references/segmentation/train.py
  references/video_classification/train.py
Labels: enhancement, module: reference scripts, cla signed

#6331 [proto] Fixed Normalize._transform and added mid-level normalize
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: module: transforms, cla signed, prototype

#6385 [proto] Fix for handling numpy arrays by Transform
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_transform.py
  torchvision/prototype/transforms/_type_conversion.py
Labels: cla signed

#6386 [proto] Fixed issue with `F.pad` from RandomZoomOut
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/transforms/functional_pil.py
  torchvision/transforms/functional_tensor.py
Labels: module: transforms, cla signed, prototype

#6373 Add support of MViTv2 video variants
  docs/source/models/video_mvit.rst
  test/expect/ModelTester.test_mvit_v2_s_expect.pkl
  test/test_models.py
  torchvision/models/video/mvit.py
Labels: enhancement, module: models, cla signed

#6246 Add SwinV2
  docs/source/models/swin_transformer.rst
  references/classification/README.md
  test/expect/ModelTester.test_swin_v2_b_expect.pkl
  test/expect/ModelTester.test_swin_v2_s_expect.pkl
  test/expect/ModelTester.test_swin_v2_t_expect.pkl
  test/test_models.py
  torchvision/models/swin_transformer.py
Labels: module: models, new feature, cla signed

#6392 [proto] Use F.pad in RandomCrop
  torchvision/prototype/transforms/_geometry.py
Labels: module: transforms, cla signed, prototype

#6397 Fix typing jit issue on RoIPool and RoIAlign
  test/test_ops.py
  torchvision/ops/roi_align.py
  torchvision/ops/roi_pool.py
Labels: bug, module: ops, cla signed

#6396 Augment CMakeLists.txt & Fix generated config file
  CMakeLists.txt
  cmake/TorchVisionConfig.cmake.in
Labels: enhancement, topic: build, cla signed

#6391 [proto] Compose transform keeps BC
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_container.py
Labels: module: transforms, cla signed, prototype

#6405 refactor: replace LambdaLR with PolynomialLR in segmentation training script
  references/segmentation/train.py
Labels: enhancement, module: reference scripts, cla signed

#6371 Using conda metapackage when installing cuda 11.6 and 11.7
  .circleci/unittest/linux/scripts/install.sh
  packaging/pkg_helpers.bash
Labels: cla signed

#6409 Fix M1 worklfow comments
  .github/workflows/build-m1-binaries.yml
  .github/workflows/test-m1.yml
Labels: module: ci, cla signed, code quality

#6410 [proto] Another attemp to rewrite RandomCrop
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_geometry.py
Labels: bug, module: transforms, cla signed, prototype

#6389 disable download test for Places365 and SBU
  test/test_datasets_download.py
Labels: module: datasets, dependency issue, module: ci, cla signed

#6413 Use --no-implicit-optional for type checking
  mypy.ini
  torchvision/datasets/utils.py
Labels: cla signed, code quality

#6419 [proto] Clean-up Label.to_categories
  torchvision/prototype/features/_label.py
Labels: cla signed

#6411 port `ScaleJitter` from detection reference to prototype transforms
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_geometry.py
Labels: module: transforms, topic: object detection, cla signed, prototype

#6421 Fix anaconda upload for nightly
  .github/workflows/build-m1-binaries.yml
Labels: cla signed

#6422 Fix anaconda upload step
  .github/workflows/build-m1-binaries.yml
Labels: cla signed

#6423 Use dist path when uploading using anaconda
  .github/workflows/build-m1-binaries.yml
Labels: cla signed

#6424 Fix arm64 dist path for anaconda upload
  .github/workflows/build-m1-binaries.yml
Labels: cla signed

#6408 Proto transform cleanup
  test/test_prototype_transforms.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_color.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/prototype/utils/_internal.py
Labels: bug, module: transforms, cla signed, code quality, prototype

#6427 Add note about --no-build-isolation flag in readme
  README.rst
Labels: enhancement, module: documentation, cla signed

#6348 Add Sintel Stereo dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/_stereo_matching.py
Labels: module: datasets, new feature, cla signed

#6436 Fix minor bug on `PolynomialLR` invocation
  references/segmentation/train.py
Labels: bug, module: reference scripts, cla signed

#6347 Added InStereo2k dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/_stereo_matching.py
Labels: cla signed

#6346 Add FallingThings dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/_stereo_matching.py
Labels: module: datasets, new feature, cla signed

#6441 expose AutoAugmentPolicy from torchvision.prototype.transforms
  torchvision/prototype/transforms/__init__.py
Labels: module: transforms, cla signed, prototype

#6443 [FBcode->GH] Free avPacket on EAGAIN decoder error (#6432)
  torchvision/csrc/io/decoder/decoder.cpp
Labels: cla signed

#6442 [FBcode->GH] Add an option to skip packets with empty data
  torchvision/csrc/io/decoder/decoder.cpp
  torchvision/csrc/io/decoder/defs.h
Labels: cla signed

#6444 Improve the Video Reference scripts
  references/video_classification/README.md
  references/video_classification/train.py
  torchvision/models/video/README.md
Labels: enhancement, module: reference scripts, module: documentation, cla signed

#6401 [proto] Ported RandomIoUCrop from detection refs
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: module: transforms, topic: object detection, cla signed, prototype

#6434 replace query_recursively with pytree implementation
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/utils/_internal.py
Labels: module: transforms, cla signed, code quality, prototype

#6448 add support for apply probability to CutMix and MixUp
  torchvision/prototype/transforms/_augment.py
Labels: module: transforms, cla signed, prototype

#6450 Fix minor typos in Docstrings
  torchvision/datasets/food101.py
  torchvision/datasets/ucf101.py
Labels: enhancement, module: documentation, cla signed

#6447 expand has_any and has_all to also accept check callables
  test/test_prototype_transforms_utils.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_utils.py
Labels: module: transforms, cla signed, prototype

#6349 Added ETH3D stereo dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/_stereo_matching.py
Labels: module: datasets, new feature, cla signed

#6417 port `FixedSizeCrop` from detection references to prototype transforms
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_geometry.py
Labels: cla signed

#6412 Add the S3D architecture to TorchVision
  docs/source/models.rst
  docs/source/models/video_s3d.rst
  test/expect/ModelTester.test_s3d_expect.pkl
  test/test_models.py
  torchvision/models/video/__init__.py
  torchvision/models/video/s3d.py
Labels: module: models, new feature, cla signed

#6454 [proto] Fixed to_image_tensor and to_image_pil
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/functional/_type_conversion.py
  torchvision/transforms/functional.py
Labels: cla signed

#6458 [proto] Ported LinearTransformation
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_misc.py
Labels: cla signed

#6460 remove BatchMultiCrop
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_geometry.py
Labels: module: transforms, cla signed, prototype

#6459 replace `query_image` with `query_image_dimensions`
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_color.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_augment.py
Labels: module: transforms, cla signed, prototype

#6468 add some feature attributes to repr
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
Labels: cla signed, prototype, module: features

#6464 fix MixUp and CutMix
  torchvision/prototype/transforms/_augment.py
Labels: module: transforms, cla signed, prototype

#6472 fix prototype RandomErasing test
  test/test_prototype_transforms.py
Labels: bug, module: transforms, module: tests, cla signed, prototype

#6473 remove unused import
  torchvision/prototype/transforms/_augment.py
Labels: module: transforms, cla signed, code quality, prototype

#6471 fix wording in query_chw
  torchvision/prototype/transforms/_utils.py
Labels: module: transforms, cla signed, code quality, prototype

#6463 cleanup prototype auto augment transforms
  torchvision/prototype/transforms/_auto_augment.py
Labels: module: transforms, cla signed, prototype

#6451 [proto] Ported SimpleCopyPaste transform
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_augment.py
Labels: cla signed

#6456 Fix out-of-bounds read in decode_png
  test/assets/damaged_png/sigsegv.png
  test/test_image.py
  torchvision/csrc/io/image/cpu/decode_png.cpp
Labels: bug, module: io, cla signed

#6474 allow grayscale tensor images in `rgb_to_grayscale`
  test/test_transforms.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_deprecated.py
  torchvision/transforms/functional_tensor.py
Labels: bug, module: transforms, cla signed, deprecation, prototype

#6480 use the same base class for Label and OneHotLabel
  torchvision/prototype/features/_label.py
Labels: cla signed, prototype, module: features

#6449 add cleanup transformation for bounding boxes
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_misc.py
Labels: module: transforms, cla signed, prototype

#6482 fix RandomPhotometricDistort
  torchvision/prototype/transforms/_color.py
Labels: module: transforms, cla signed, prototype

#6483 [proto] Removed F.label_to_one_hot and added tests for LabelToOneHot
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: module: transforms, cla signed, prototype

#6488 [proto] Restored BC for RandomChoice and RandomOrder
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_container.py
Labels: cla signed

#6487 [proto] Fixes Transform._transformed_types and torch.Tensor
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_transform.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/_utils.py
Labels: enhancement, module: transforms, cla signed, prototype

#6493 Try to fix mypy issue with calculate_md5
  torchvision/datasets/utils.py
Labels: cla signed

#6485 [proto] Updated tests for CopyPaste on OneHotLabel
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_augment.py
Labels: cla signed

#6494 [proto] Use the proper `_transformed_types` in all Transforms and eliminate unnecessary dispatching
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: module: transforms, cla signed, code quality, prototype

#6425 Add CUDA 11.7 builds
  .circleci/config.yml
  .circleci/config.yml.in
  .circleci/regenerate.py
  .circleci/unittest/windows/scripts/install.sh
  packaging/build_conda.sh
  packaging/pkg_helpers.bash
  packaging/windows/internal/cuda_install.bat
Labels: cla signed

#6490 [proto] Fix kernel passthrough and types of Normalize
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: enhancement, module: transforms, cla signed, prototype

#6492 Cleanup of prototype transforms
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, code quality, prototype

#6498 [proto] Consistent supported/unsupported types handling in LinearTransformation, other perf comments
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_container.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: cla signed

#6497 Move output to CPU before assert_expected
  test/test_models.py
  test/test_prototype_models.py
Labels: enhancement, module: tests, cla signed

#6502 More prototype Transforms cleanups
  torchvision/prototype/features/_encoded.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/functional/_misc.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: enhancement, module: transforms, cla signed, prototype

#6484 check full sample in query_bounding_box
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_utils.py
Labels: module: transforms, cla signed, prototype

#6504 [proto] Simplified code in overridden transform forward methods
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_container.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_misc.py
Labels: module: transforms, cla signed, code quality, prototype

#6507 move simple_tensor to features module
  test/test_prototype_transforms_utils.py
  torchvision/prototype/features/__init__.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_color.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_transform.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/_deprecated.py
Labels: module: transforms, cla signed, code quality, prototype

#6500 More cleanup for prototype transforms
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_color.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_deprecated.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: module: transforms, cla signed, prototype

#6510 [proto] Fix bug with Compose and PR 6504
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_container.py
Labels: bug, module: transforms, cla signed, prototype

#6514 Add tests for prototype <-> legacy transforms consistency
  test/test_prototype_transforms_consistency.py
  torchvision/prototype/transforms/_geometry.py
Labels: module: transforms, module: tests, cla signed, prototype

#6516 Expand prototype transforms consistency tests
  test/test_prototype_transforms_consistency.py
Labels: module: transforms, cla signed, prototype

#6518 Expand prototype transforms consistency tests to all deterministic transformations
  test/test_prototype_transforms_consistency.py
  torchvision/prototype/transforms/_misc.py
Labels: bug, module: transforms, module: tests, cla signed, prototype

#6522 Expand prototype transforms consistency tests to most random tests
  test/test_prototype_transforms.py
  test/test_prototype_transforms_consistency.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_misc.py
Labels: bug, module: transforms, module: tests, cla signed, prototype

#6523 [proto] Clean-ups from 6512 (part 2)
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: enhancement, module: transforms, cla signed, prototype

#6519 [proto] Fixed RandAug and all AA consistency tests
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/transforms/functional_tensor.py
Labels: module: transforms, module: tests, cla signed, prototype

#6520 [proto] Clean-ups from 6512
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/transforms/functional.py
  torchvision/transforms/functional_tensor.py
Labels: cla signed

#6512 Prototype Transform cleanups and bugfixing
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_color.py
  torchvision/prototype/transforms/_container.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_transform.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_deprecated.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: bug, module: transforms, cla signed, prototype

#6525 add consistency tests for prototype container transforms
  test/test_prototype_transforms_consistency.py
  torchvision/prototype/transforms/_container.py
Labels: bug, module: transforms, module: tests, cla signed, prototype

#6527 test all transform signatures for consistency
  test/test_prototype_transforms.py
  test/test_prototype_transforms_consistency.py
  torchvision/prototype/transforms/_auto_augment.py
Labels: bug, module: transforms, module: tests, cla signed, prototype
