Repository pytorch/vision, pull requests merged in 2022-01, with the labels that each got.

#5153 update compatibility table
  README.rst
Labels: enhancement, module: documentation, cla signed, ciflow/default

#5135 only set random generator if shuffle=true
  references/classification/sampler.py
Labels: module: reference scripts, cla signed, code quality, ciflow/default

#5133 add contribution instructions for prototype datasets
  torchvision/prototype/datasets/_builtin/README.md
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/cifar.py
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/_builtin/sbd.py
  torchvision/prototype/datasets/generate_category_files.py
  torchvision/prototype/datasets/utils/_dataset.py
  torchvision/prototype/datasets/utils/_resource.py
Labels: module: datasets, module: documentation, cla signed, ciflow/default, prototype

#5159 Remove incorrect ViT recipe commands.
  references/classification/README.md
Labels: module: documentation, cla signed, ciflow/default

#5085 Adding pretrained ViT weights
  references/classification/README.md
  torchvision/prototype/models/vision_transformer.py
Labels: enhancement, module: models, cla signed, ciflow/default, weights

#5115 Add DTD dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/dtd.py
  torchvision/prototype/datasets/_builtin/__init__.py
  torchvision/prototype/datasets/_builtin/dtd.categories
  torchvision/prototype/datasets/_builtin/dtd.py
Labels: module: datasets, new feature, cla signed, ciflow/default, prototype

#5120 FER2013 dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/fer2013.py
  torchvision/prototype/datasets/_builtin/__init__.py
  torchvision/prototype/datasets/_builtin/fer2013.py
  torchvision/prototype/datasets/utils/__init__.py
  torchvision/prototype/datasets/utils/_resource.py
Labels: module: datasets, new feature, cla signed, ciflow/default, prototype

#5165 Updated the example for fasterrcnn_resnet50
  torchvision/models/detection/faster_rcnn.py
Labels: module: documentation, cla signed, ciflow/default

#5128 *FileLoader -> *FileOpener
  torchvision/prototype/datasets/_folder.py
  torchvision/prototype/datasets/utils/_internal.py
  torchvision/prototype/datasets/utils/_resource.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5117 Add GTSRB dataset to the list of supporting datasets
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/gtsrb.py
Labels: module: datasets, new feature, cla signed, ciflow/default

#5130 add CLEVR dataset
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/clevr.py
  torchvision/prototype/datasets/_builtin/__init__.py
  torchvision/prototype/datasets/_builtin/clevr.py
  torchvision/prototype/datasets/utils/_internal.py
Labels: module: datasets, new feature, cla signed, ciflow/default, prototype

#5169 Skip jpeg comparison tests with PIL
  test/test_image.py
Labels: bug, module: io, cla signed, ciflow/default

#5170 Improved meta-data for models
  test/test_prototype_models.py
  torchvision/models/segmentation/fcn.py
  torchvision/prototype/models/alexnet.py
  torchvision/prototype/models/densenet.py
  torchvision/prototype/models/detection/faster_rcnn.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
  torchvision/prototype/models/detection/retinanet.py
  torchvision/prototype/models/detection/ssd.py
  torchvision/prototype/models/detection/ssdlite.py
  torchvision/prototype/models/efficientnet.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/inception.py
  torchvision/prototype/models/mnasnet.py
  torchvision/prototype/models/mobilenetv2.py
  torchvision/prototype/models/mobilenetv3.py
  torchvision/prototype/models/optical_flow/raft.py
  torchvision/prototype/models/quantization/googlenet.py
  torchvision/prototype/models/quantization/inception.py
  torchvision/prototype/models/quantization/mobilenetv2.py
  torchvision/prototype/models/quantization/mobilenetv3.py
  torchvision/prototype/models/quantization/resnet.py
  torchvision/prototype/models/quantization/shufflenetv2.py
  torchvision/prototype/models/regnet.py
  torchvision/prototype/models/resnet.py
  torchvision/prototype/models/segmentation/deeplabv3.py
  torchvision/prototype/models/segmentation/fcn.py
  torchvision/prototype/models/segmentation/lraspp.py
  torchvision/prototype/models/shufflenetv2.py
  torchvision/prototype/models/squeezenet.py
  torchvision/prototype/models/vgg.py
  torchvision/prototype/models/video/resnet.py
  torchvision/prototype/models/vision_transformer.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#5129 fix UCF101 on Windows
  test/test_datasets.py
  torchvision/datasets/ucf101.py
Labels: bug, windows, module: datasets, cla signed, ciflow/default

#5172 [ViT] Refactor forward function
  torchvision/prototype/models/vision_transformer.py
Labels: cla signed, ciflow/default

#5132 Add SUN397 Dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/sun397.py
Labels: cla signed, ciflow/default

#5161 Removing/replacing Py3.6 references.
  .circleci/smoke_test/docker/Dockerfile
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/windows/scripts/install.sh
  .github/workflows/tests-schedule.yml
  .pre-commit-config.yaml
  packaging/pkg_helpers.bash
  packaging/torchvision/conda_build_config.yaml
  packaging/vs2017/conda_build_config.yaml
  packaging/vs2019/conda_build_config.yaml
  packaging/wheel/osx_wheel.sh
  pyproject.toml
  setup.py
Labels: module: ci, cla signed, code quality, ciflow/default

#5174 Expose raft_large and raft_small to torchhub
  hubconf.py
Labels: module: hub, cla signed, ciflow/default, other

#5182 Fix torchvision.utils.make_grid's pad_value variable type hint: int -> float
  torchvision/utils.py
Labels: cla signed, ciflow/default

#5180 Modifying keypoint_rcnn.py for keypoint_predictor issue
  torchvision/models/detection/keypoint_rcnn.py
Labels: bug, module: models, cla signed, ciflow/default

#5138 Country dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/country211.py
Labels: module: datasets, new feature, cla signed, ciflow/default

#5183 [FBcode->GH] Move loading Decoder.so to a separate file to avoid building it internally
  torchvision/io/__init__.py
  torchvision/io/_load_gpu_decoder.py
  torchvision/io/_video_opt.py
Labels: module: io, module: video, cla signed, ciflow/default

#5173 [ViT] Graduate ViT from prototype
  docs/source/models.rst
  hubconf.py
  torchvision/models/__init__.py
  torchvision/models/vision_transformer.py
  torchvision/prototype/models/vision_transformer.py
Labels: module: models, cla signed, ciflow/default

#5189 use enums in prototype datasets for demux
  torchvision/prototype/datasets/_builtin/dtd.py
  torchvision/prototype/datasets/_builtin/oxford_iiit_pet.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5177 Add Flowers102 dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/flowers102.py
Labels: cla signed, ciflow/default

#5176 add regnet_y_128gf factory function
  docs/source/models.rst
  hubconf.py
  test/expect/ModelTester.test_regnet_y_128gf_expect.pkl
  test/test_models.py
  torchvision/models/regnet.py
  torchvision/prototype/models/regnet.py
Labels: enhancement, module: models, cla signed, ciflow/default

#5188 fix category file generation
  torchvision/prototype/datasets/_builtin/dtd.py
  torchvision/prototype/datasets/_builtin/oxford_iiit_pet.py
Labels: bug, module: datasets, cla signed, ciflow/default, prototype

#5178 Adding fvgc_aircraft dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/fgvc_aircraft.py
Labels: module: datasets, new feature, cla signed, ciflow/default

#5154 add CUB200 prototype datasets
  torchvision/prototype/datasets/_builtin/__init__.py
  torchvision/prototype/datasets/_builtin/cub200.categories
  torchvision/prototype/datasets/_builtin/cub200.py
Labels: module: datasets, new feature, cla signed, ciflow/default, prototype

#5186 relax split requirement for prototype datasets
  test/test_prototype_datasets_api.py
  torchvision/prototype/datasets/_builtin/cifar.py
  torchvision/prototype/datasets/_builtin/oxford_iiit_pet.py
  torchvision/prototype/datasets/utils/_dataset.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5196 Adding missing named param check on ViT
  torchvision/prototype/models/vision_transformer.py
Labels: bug, module: models, cla signed, ciflow/default

#5201 Update ResNet-50 accuracy with Repeated Augmentation
  torchvision/prototype/models/resnet.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#5190 Conditionally include Python in the C++ builds.
  CMakeLists.txt
  README.rst
  cmake/TorchVisionConfig.cmake.in
  examples/cpp/hello_world/CMakeLists.txt
  setup.py
  torchvision/csrc/io/image/image.cpp
  torchvision/csrc/io/video_reader/video_reader.cpp
  torchvision/csrc/vision.cpp
Labels: enhancement, topic: build, cla signed, ciflow/default

#5203 Add support for PCAM dataset
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/windows/scripts/environment.yml
  docs/source/datasets.rst
  test/datasets_utils.py
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/oxford_iiit_pet.py
  torchvision/datasets/pcam.py
Labels: module: datasets, new feature, cla signed, ciflow/default

#5166 Stanford cars
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/stanford_cars.py
Labels: cla signed, ciflow/default

#5195 Change order of sections in toctree
  docs/source/index.rst
Labels: enhancement, module: documentation, cla signed, ciflow/default

#5187 Expand tests for prototype datasets
  test/builtin_dataset_mocks.py
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/_builtin/celeba.py
  torchvision/prototype/datasets/_builtin/cub200.py
  torchvision/prototype/datasets/_builtin/dtd.py
  torchvision/prototype/datasets/_builtin/sbd.py
  torchvision/prototype/datasets/_builtin/semeion.py
  torchvision/prototype/datasets/_builtin/voc.py
Labels: module: datasets, module: tests, cla signed, ciflow/default, prototype

#5207 Remove split parameter from datasets.load()
  torchvision/prototype/datasets/_api.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5191 Return RGB frames as output of GPU decoder
  setup.py
  test/test_video_gpu_decoder.py
  torchvision/csrc/io/decoder/gpu/decoder.cpp
  torchvision/csrc/io/decoder/gpu/gpu_decoder.cpp
  torchvision/csrc/io/decoder/gpu/gpu_decoder.h
  torchvision/io/__init__.py
Labels: enhancement, module: video, cla signed, ciflow/default

#5222 remove get_bool_env_var
  test/common_utils.py
  test/test_prototype_models.py
Labels: module: tests, cla signed, code quality, ciflow/default

#5213 fix and add test for sequence_to_str
  test/test_prototype_utils.py
  torchvision/prototype/utils/_internal.py
Labels: module: tests, cla signed, code quality, ciflow/default, prototype

#5210 Adding vit_h_14 architecture
  docs/source/models.rst
  hubconf.py
  test/expect/ModelTester.test_vit_h_14_expect.pkl
  torchvision/models/vision_transformer.py
  torchvision/prototype/models/vision_transformer.py
Labels: enhancement, module: models, cla signed, ciflow/default

#5225 An optimization for WeightsEnum
  torchvision/prototype/models/_api.py
Labels: enhancement, module: models, cla signed, ciflow/default, prototype

#5224 improve error message for prototype datasets without options
  test/test_prototype_datasets_api.py
  torchvision/prototype/datasets/utils/_dataset.py
Labels: enhancement, module: datasets, cla signed, ciflow/default, prototype

#5164 Cleanups for FLAVA datasets
  mypy.ini
  test/test_datasets.py
  torchvision/datasets/clevr.py
  torchvision/datasets/country211.py
  torchvision/datasets/dtd.py
  torchvision/datasets/eurosat.py
  torchvision/datasets/fgvc_aircraft.py
  torchvision/datasets/flowers102.py
  torchvision/datasets/food101.py
  torchvision/datasets/gtsrb.py
  torchvision/datasets/oxford_iiit_pet.py
  torchvision/datasets/pcam.py
  torchvision/datasets/rendered_sst2.py
  torchvision/datasets/sun397.py
Labels: module: datasets, cla signed, ciflow/default, other

#5223 Adding min_size to classification and video models
  test/test_prototype_models.py
  torchvision/prototype/models/alexnet.py
  torchvision/prototype/models/densenet.py
  torchvision/prototype/models/efficientnet.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/inception.py
  torchvision/prototype/models/mnasnet.py
  torchvision/prototype/models/mobilenetv2.py
  torchvision/prototype/models/mobilenetv3.py
  torchvision/prototype/models/quantization/googlenet.py
  torchvision/prototype/models/quantization/inception.py
  torchvision/prototype/models/quantization/mobilenetv2.py
  torchvision/prototype/models/quantization/mobilenetv3.py
  torchvision/prototype/models/quantization/resnet.py
  torchvision/prototype/models/quantization/shufflenetv2.py
  torchvision/prototype/models/regnet.py
  torchvision/prototype/models/resnet.py
  torchvision/prototype/models/shufflenetv2.py
  torchvision/prototype/models/squeezenet.py
  torchvision/prototype/models/vgg.py
  torchvision/prototype/models/video/resnet.py
  torchvision/prototype/models/vision_transformer.py
Labels: module: models, cla signed, ciflow/default, prototype

#5232 Skip jpeg comparison tests with PIL (#5169)
  test/test_image.py
Labels: bug, module: io, cla signed, ciflow/default

#5229 allow single extension as str in make_dataset
  test/test_datasets_utils.py
  torchvision/datasets/folder.py
Labels: cla signed, ciflow/default

#5212 Use public API for loading in prototype datasets tests
  test/builtin_dataset_mocks.py
  test/datasets_utils.py
  test/test_prototype_builtin_datasets.py
Labels: module: tests, cla signed, ciflow/default, prototype

#5197 Adding ConvNeXt architecture in prototype
  docs/source/models.rst
  references/classification/README.md
  test/expect/ModelTester.test_convnext_tiny_expect.pkl
  torchvision/ops/misc.py
  torchvision/prototype/models/__init__.py
  torchvision/prototype/models/convnext.py
Labels: module: models, topic: classification, cla signed, ciflow/default, prototype

#5240 ci: Pin av to 8.0.3
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/windows/scripts/environment.yml
Labels: cla signed, ciflow/default

#5239 ci: Bump pytorch 1.10.1 -> 1.10.2
  .circleci/config.yml
  .circleci/config.yml.in
Labels: cla signed, ciflow/default

#5238 fix docstring by removing ResNet
  torchvision/models/detection/backbone_utils.py
Labels: enhancement, module: documentation, cla signed, ciflow/default

#4961 add FCOS
  docs/source/models.rst
  mypy.ini
  references/detection/README.md
  test/expect/ModelTester.test_fcos_resnet50_fpn_expect.pkl
  test/test_models.py
  test/test_models_detection_utils.py
  torchvision/models/detection/__init__.py
  torchvision/models/detection/_utils.py
  torchvision/models/detection/fcos.py
  torchvision/ops/__init__.py
  torchvision/ops/generalized_box_iou_loss.py
  torchvision/prototype/models/detection/__init__.py
  torchvision/prototype/models/detection/fcos.py
Labels: cla signed, ciflow/default

#5248 Adding prototype flag on reference scripts
  references/classification/train.py
  references/detection/train.py
  references/optical_flow/train.py
  references/segmentation/train.py
  references/video_classification/train.py
Labels: enhancement, module: reference scripts, cla signed, prototype

#5259 Revert "Adding vit_h_14 architecture"
  docs/source/models.rst
  hubconf.py
  test/expect/ModelTester.test_vit_h_14_expect.pkl
  torchvision/models/vision_transformer.py
  torchvision/prototype/models/vision_transformer.py
Labels: bug, module: ci, cla signed, revert(ed), ciflow/default

#5257 Rename prototype weight names to comply with PEP8
  test/test_prototype_models.py
  torchvision/prototype/models/_api.py
  torchvision/prototype/models/_utils.py
  torchvision/prototype/models/alexnet.py
  torchvision/prototype/models/convnext.py
  torchvision/prototype/models/densenet.py
  torchvision/prototype/models/detection/faster_rcnn.py
  torchvision/prototype/models/detection/fcos.py
  torchvision/prototype/models/detection/keypoint_rcnn.py
  torchvision/prototype/models/detection/mask_rcnn.py
  torchvision/prototype/models/detection/retinanet.py
  torchvision/prototype/models/detection/ssd.py
  torchvision/prototype/models/detection/ssdlite.py
  torchvision/prototype/models/efficientnet.py
  torchvision/prototype/models/googlenet.py
  torchvision/prototype/models/inception.py
  torchvision/prototype/models/mnasnet.py
  torchvision/prototype/models/mobilenetv2.py
  torchvision/prototype/models/mobilenetv3.py
  torchvision/prototype/models/optical_flow/raft.py
  torchvision/prototype/models/quantization/googlenet.py
  torchvision/prototype/models/quantization/inception.py
  torchvision/prototype/models/quantization/mobilenetv2.py
  torchvision/prototype/models/quantization/mobilenetv3.py
  torchvision/prototype/models/quantization/resnet.py
  torchvision/prototype/models/quantization/shufflenetv2.py
  torchvision/prototype/models/regnet.py
  torchvision/prototype/models/resnet.py
  torchvision/prototype/models/segmentation/deeplabv3.py
  torchvision/prototype/models/segmentation/fcn.py
  torchvision/prototype/models/segmentation/lraspp.py
  torchvision/prototype/models/shufflenetv2.py
  torchvision/prototype/models/squeezenet.py
  torchvision/prototype/models/vgg.py
  torchvision/prototype/models/video/resnet.py
  torchvision/prototype/models/vision_transformer.py
Labels: module: models, cla signed, code quality, prototype

#5214 Add GTSRB dataset to prototypes
  test/builtin_dataset_mocks.py
  test/datasets_utils.py
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/_builtin/README.md
  torchvision/prototype/datasets/_builtin/__init__.py
  torchvision/prototype/datasets/_builtin/gtsrb.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5261 Allow gcc to be overwritten with an environment variable
  setup.py
Labels: enhancement, topic: build, cla signed, ciflow/default

#5215 Add seek in GPU decoder
  test/test_video_gpu_decoder.py
  torchvision/csrc/io/decoder/gpu/demuxer.h
  torchvision/csrc/io/decoder/gpu/gpu_decoder.cpp
  torchvision/csrc/io/decoder/gpu/gpu_decoder.h
  torchvision/io/__init__.py
Labels: enhancement, module: io, module: video, cla signed, ciflow/default

#5268 Mino simplifications to prototype dataset testings
  test/builtin_dataset_mocks.py
  test/test_prototype_builtin_datasets.py
Labels: cla signed, ciflow/default

#5270 Fix giou naming bug
  torchvision/ops/__init__.py
  torchvision/ops/giou_loss.py
Labels: bug, module: ops, cla signed, ciflow/default

#5208 Added center arg to F.affine and RandomAffine ops
  test/test_functional_tensor.py
  test/test_transforms.py
  torchvision/transforms/functional.py
  torchvision/transforms/transforms.py
Labels: enhancement, module: transforms, cla signed, ciflow/default

#5271 Use fixture for dataset root in tests and remove caching
  test/builtin_dataset_mocks.py
  test/test_prototype_builtin_datasets.py
Labels: cla signed, ciflow/default

#5278 Fix a bug and document RandomZoomOut
  references/detection/transforms.py
Labels: bug, module: transforms, module: reference scripts, cla signed, ciflow/default

#5275 Replace asserts with ValueErrors
  test/test_backbone_utils.py
  test/test_models_detection_utils.py
  torchvision/models/detection/backbone_utils.py
Labels: module: models, cla signed, code quality, ciflow/default

#5273 add docstring for _log_api_usage_once
  torchvision/utils.py
Labels: module: documentation, cla signed, ciflow/default

#5280 adds PCAM to torchvision.datasets.__all__
  torchvision/datasets/__init__.py
Labels: module: datasets, cla signed, ciflow/default, other

#5283 revamp prototype features
  test/test_prototype_features.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/utils/_internal.py
  torchvision/prototype/features/__init__.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_encoded.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_label.py
  torchvision/prototype/features/_segmentation_mask.py
  torchvision/prototype/utils/_internal.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5192 flakey videoAPI test (#4947)
  test/test_videoapi.py
Labels: cla signed, ciflow/default

#5288 Add build to the set of secondary labels
  .github/process_commit.py
Labels: module: ci, cla signed, ciflow/default

#5267 fix bug when the target is empty in FCOS
  test/test_models_detection_negative_samples.py
  torchvision/models/detection/fcos.py
Labels: cla signed, ciflow/default

#5287 remove decoding from prototype datasets
  test/builtin_dataset_mocks.py
  test/test_prototype_builtin_datasets.py
  test/test_prototype_datasets_api.py
  test/test_prototype_transforms.py
  torchvision/prototype/datasets/__init__.py
  torchvision/prototype/datasets/_api.py
  torchvision/prototype/datasets/_builtin/README.md
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/celeba.py
  torchvision/prototype/datasets/_builtin/cifar.py
  torchvision/prototype/datasets/_builtin/clevr.py
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/datasets/_builtin/cub200.py
  torchvision/prototype/datasets/_builtin/dtd.py
  torchvision/prototype/datasets/_builtin/fer2013.py
  torchvision/prototype/datasets/_builtin/gtsrb.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/mnist.py
  torchvision/prototype/datasets/_builtin/oxford_iiit_pet.py
  torchvision/prototype/datasets/_builtin/sbd.py
  torchvision/prototype/datasets/_builtin/semeion.py
  torchvision/prototype/datasets/_builtin/svhn.py
  torchvision/prototype/datasets/_builtin/voc.categories
  torchvision/prototype/datasets/_builtin/voc.py
  torchvision/prototype/datasets/_folder.py
  torchvision/prototype/datasets/decoder.py
  torchvision/prototype/datasets/utils/__init__.py
  torchvision/prototype/datasets/utils/_dataset.py
  torchvision/prototype/datasets/utils/_internal.py
  torchvision/prototype/features/_feature.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5289 Avoid inplace modification of target boxes in detection references
  references/detection/coco_utils.py
Labels: enhancement, module: reference scripts, cla signed, ciflow/default

#5293 Fix error message in demuxer
  torchvision/csrc/io/decoder/gpu/demuxer.h
Labels: module: video, cla signed, code quality, ciflow/default

#5134 Adds utlity to convert optical flow to an image
  docs/source/utils.rst
  test/assets/expected_flow.pt
  test/test_utils.py
  torchvision/utils.py
Labels: cla signed, ciflow/default

#5286 Add PCAM dataset to prototype area
  .circleci/config.yml
  .circleci/config.yml.in
  test/builtin_dataset_mocks.py
  torchvision/prototype/datasets/_builtin/__init__.py
  torchvision/prototype/datasets/_builtin/pcam.py
Labels: module: datasets, cla signed, ciflow/default, prototype

#5296 Switch torch.quantization to torch.ao.quantization
  torchvision/prototype/models/quantization/mobilenetv3.py
Labels: module: models.quantization, cla signed, code quality, ciflow/default

#5282 Minor changes to prototype datasets
  test/test_prototype_builtin_datasets.py
  torchvision/prototype/datasets/__init__.py
  torchvision/prototype/datasets/_api.py
  torchvision/prototype/datasets/generate_category_files.py
  torchvision/prototype/datasets/utils/_dataset.py
  torchvision/prototype/datasets/utils/_internal.py
  torchvision/prototype/datasets/utils/_resource.py
Labels: module: datasets, cla signed, code quality, ciflow/default, prototype

#5298 Temporarily use IntermediateLayerGetter on segmentation
  torchvision/models/segmentation/deeplabv3.py
  torchvision/models/segmentation/fcn.py
  torchvision/models/segmentation/lraspp.py
Labels: cla signed, ciflow/default, other

#5305 Update README.rst with version v0.11.3
  README.rst
Labels: module: documentation, cla signed, ciflow/default

#5301 fix annotations for Python >= 3.8
  setup.py
  torchvision/datasets/stl10.py
  torchvision/transforms/functional_pil.py
Labels: dependency issue, cla signed, ciflow/default, other

#5308 Add support for flow batches in flow_to_image
  test/test_utils.py
  torchvision/utils.py
Labels: module: utils, cla signed, ciflow/default, other

#5226 [ViT] Adding conv_stem support
  test/expect/ModelTester.test_vitc_b_16_expect.pkl
  test/test_models.py
  torchvision/models/vision_transformer.py
Labels: enhancement, module: models, cla signed, ciflow/default

#5312 Use HTTPS for the HMDB51 links
  torchvision/datasets/hmdb51.py
Labels: cla signed, ciflow/default

#5295 readd functional transforms API to prototype
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_encoded.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta_conversion.py
  torchvision/prototype/transforms/functional/_misc.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: module: transforms, cla signed, ciflow/default, prototype

#5227 Fix DTD prototype dataset on Windows
  torchvision/prototype/datasets/_builtin/dtd.py
Labels: module: datasets, module: tests, cla signed, ciflow/default, prototype
