Repository pytorch/vision, pull requests merged in 2022-10, with the labels that each got.

#6678 upgrade flake8
  .pre-commit-config.yaml
Labels: dependency issue, module: ci, cla signed

#6682 Fix error message typo
  torchvision/models/detection/roi_heads.py
Labels: cla signed

#6684 Fix missing f-string prefix in error message
  torchvision/models/detection/roi_heads.py
Labels: cla signed

#6685 [ONNX] Support exporting RoiAlign align=True to ONNX with opset 16
  test/test_onnx.py
  torchvision/ops/_register_onnx_ops.py
Labels: enhancement, module: onnx, cla signed

#6691 Bump main version to 0.15
  android/gradle.properties
  version.txt
Labels: cla signed, release-issue

#6658 Use real image in test_detection_model
  test/expect/ModelTester.test_fasterrcnn_resnet50_fpn_expect.pkl
  test/expect/ModelTester.test_fasterrcnn_resnet50_fpn_v2_expect.pkl
  test/expect/ModelTester.test_fcos_resnet50_fpn_expect.pkl
  test/expect/ModelTester.test_keypointrcnn_resnet50_fpn_expect.pkl
  test/expect/ModelTester.test_maskrcnn_resnet50_fpn_expect.pkl
  test/expect/ModelTester.test_maskrcnn_resnet50_fpn_v2_expect.pkl
  test/expect/ModelTester.test_retinanet_resnet50_fpn_expect.pkl
  test/expect/ModelTester.test_retinanet_resnet50_fpn_v2_expect.pkl
  test/test_models.py
Labels: enhancement, module: tests, cla signed

#6672 fix bug in output format for pyav
  torchvision/io/video.py
Labels: cla signed

#6694 fix example galleries in documentation
  docs/requirements.txt
  docs/source/_static/css/custom_torchvision.css
Labels: module: documentation, dependency issue, cla signed

#6702 [bugfix] Make CUB200 labels 0-indexed.
  torchvision/prototype/datasets/_builtin/cub200.py
Labels: bug, module: datasets, cla signed, prototype

#6704 [ONNX] Rephrase ONNX RoiAlign warning for aligned=True
  torchvision/ops/_register_onnx_ops.py
Labels: module: onnx, cla signed, code quality

#6701 fix example galleries in documentation
  docs/requirements.txt
  docs/source/_static/css/custom_torchvision.css
Labels: bug, module: documentation, dependency issue, cla signed

#6631 add dispatch tests for prototype transform dispatchers
  test/prototype_transforms_dispatcher_infos.py
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
Labels: module: transforms, module: tests, cla signed, prototype

#6700 [bugfix] Fix the output format for VideoClips.subset
  torchvision/datasets/video_utils.py
Labels: bug, module: datasets, module: video, cla signed

#6703 fix bug in output format for pyav (#6672)
  torchvision/io/video.py
Labels: cla signed

#6653 use pytest markers instead of custom solution for prototype transforms functional tests
  test/prototype_transforms_dispatcher_infos.py
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
Labels: module: transforms, module: tests, cla signed, code quality, prototype

#6706 [bugfix] Fix the output format for VideoClips.subset (#6700)
  torchvision/datasets/video_utils.py
Labels: cla signed, release-issue

#6675 Handle invalid reduction values
  test/test_ops.py
  torchvision/ops/ciou_loss.py
  torchvision/ops/diou_loss.py
  torchvision/ops/focal_loss.py
  torchvision/ops/giou_loss.py
Labels: enhancement, module: ops, cla signed

#6708 make pytest summary more concise
  pytest.ini
Labels: module: tests, cla signed

#6713 Remove unnecessary `ignore` directives to fix mypy
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: module: ci, code quality

#6714 Reduce sample inputs for prototype transform kernels
  test/prototype_common_utils.py
  test/prototype_transforms_dispatcher_infos.py
  test/prototype_transforms_kernel_infos.py
  torchvision/transforms/functional_tensor.py
Labels: module: transforms, module: tests, cla signed, prototype

#6712 Avoid recommuting the affine matrix in bbox rotate
  torchvision/prototype/transforms/functional/_geometry.py
Labels: enhancement, module: transforms, cla signed, prototype

#6715 Fix windows python 3.8 required dlls not found
  torchvision/extension.py
Labels: windows, topic: build, cla signed

#6667 add Video feature and kernels
  test/prototype_common_utils.py
  test/prototype_transforms_dispatcher_infos.py
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/__init__.py
  torchvision/prototype/features/_video.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_color.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: module: transforms, module: video, cla signed, prototype, module: features

#6722 [prototype] Rewrite the meta dimension methods
  torchvision/prototype/features/_mask.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: enhancement, module: transforms, cla signed, prototype

#6719 [FBcode->GH] Fix GRACE_HOPPER file internal discovery
  test/test_models.py
Labels: cla signed

#6730 make _setup_fill_arg serializable
  torchvision/prototype/transforms/_utils.py
Labels: bug, module: transforms, cla signed, prototype

#6726 enable arbitrary batch size for all prototype kernels
  test/prototype_transforms_dispatcher_infos.py
  test/prototype_transforms_kernel_infos.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: bug, module: transforms, cla signed, prototype

#6717 Test against torch RC instead of nightly. Bump build version
  .circleci/config.yml
  .circleci/config.yml.in
  packaging/pkg_helpers.bash
Labels: cla signed

#6710 Refactor `KernelInfo` and `DispatcherInfo`
  test/prototype_common_utils.py
  test/prototype_transforms_dispatcher_infos.py
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
Labels: module: transforms, module: tests, cla signed, code quality, prototype

#6729 Remove performance workaround for mask resize
  test/prototype_transforms_kernel_infos.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, code quality, prototype

#6724 Adding support of Video to remaining Transforms and Kernels
  torchvision/prototype/features/__init__.py
  torchvision/prototype/features/_video.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_color.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_deprecated.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: module: transforms, cla signed, prototype

#6735 Add missing type hints to anchor_utils
  torchvision/models/detection/anchor_utils.py
Labels: module: models, cla signed, code quality

#6736 [prototype] Switch to `spatial_size`
  test/prototype_common_utils.py
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms.py
  test/test_prototype_transforms_consistency.py
  test/test_prototype_transforms_functional.py
  test/test_prototype_transforms_utils.py
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/celeba.py
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/datasets/_builtin/cub200.py
  torchvision/prototype/datasets/_builtin/gtsrb.py
  torchvision/prototype/datasets/_builtin/stanford_cars.py
  torchvision/prototype/datasets/_builtin/voc.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_encoded.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_mask.py
  torchvision/prototype/features/_video.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_color.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: enhancement, module: transforms, cla signed, prototype

#6741 Add seeds on Kernel Info and reduce randomness for Gaussian Blur
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
Labels: enhancement, module: tests, cla signed, prototype

#6742 Fix for windows and python 3.8 call to add_dll_directory
  torchvision/extension.py
Labels: enhancement, windows, module: ci, cla signed

#6744 Fix upload channel for release builds
  packaging/pkg_helpers.bash
Labels: cla signed

#6746 Increase inactivity timeout for binary build jobs
  .circleci/config.yml
  .circleci/config.yml.in
Labels: cla signed

#6747 Increase inactivity timeout for binary build jobs (#6746)
  .circleci/config.yml
  .circleci/config.yml.in
Labels: cla signed

#6738 [proto] Small improvement for tensor equalize op
  torchvision/prototype/transforms/functional/_color.py
Labels: module: transforms, cla signed, Perf, prototype

#6748 cache traceback together with exceptions
  test/common_utils.py
Labels: enhancement, module: transforms, module: tests, cla signed, prototype

#6749 Seed transform tests
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
Labels: enhancement, module: transforms, module: tests, cla signed, prototype

#6757 [proto] Performance improvements for equalize op
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/functional/_color.py
Labels: module: transforms, cla signed, Perf, prototype

#6758 Fixed repr for ElasticTransform
  torchvision/transforms/transforms.py
Labels: module: transforms, cla signed, code quality

#6756 expand ToDtype to support multiple conversions at once
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_misc.py
Labels: enhancement, module: transforms, cla signed, prototype

#6754 introduce nearest-exact interpolation
  test/prototype_transforms_kernel_infos.py
  test/test_functional_tensor.py
  test/test_transforms_tensor.py
  torchvision/transforms/functional.py
  torchvision/transforms/transforms.py
Labels: enhancement, module: transforms, cla signed

#6503 introduce _check method for type checks on prototype transforms
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_transform.py
Labels: module: transforms, cla signed, code quality, prototype

#6763 improve test id for consistency tests
  test/test_prototype_transforms_consistency.py
Labels: enhancement, module: transforms, module: tests, cla signed, prototype

#6770 Extend `RandomShortestSize` to support Video specific flavour of the augmentation
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_geometry.py
Labels: enhancement, module: transforms, cla signed, prototype

#6772 Fix errors on non-contiguous tensors in `equalize()` Tensor-backend
  torchvision/prototype/transforms/functional/_color.py
  torchvision/transforms/functional_tensor.py
Labels: bug, module: transforms, cla signed

#6774 allow tolerances in transforms consistency checks
  test/test_prototype_transforms_consistency.py
Labels: enhancement, module: transforms, module: tests, cla signed, prototype

#6773 Update `ToDtype` to avoid unnecessary `to()` calls and fixing types on `Transform`
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_transform.py
Labels: module: transforms, cla signed, code quality, prototype

#6775 [prototype] Reshape input before equalize
  torchvision/prototype/transforms/functional/_color.py
Labels: bug, module: transforms, cla signed, prototype

#6777 replace .view with .reshape
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: enhancement, module: transforms, cla signed, prototype

#6681 [proto] Reduce number of calls of __torch_function__
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_video.py
Labels: cla signed

#6762 [proto] Small optimization for gaussian_blur functional op
  test/test_prototype_transforms_consistency.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: cla signed

#6786 Add raft_stereo weights
  torchvision/prototype/models/depth/stereo/raft_stereo.py
Labels: module: models, cla signed, prototype

#6788 don't fail linux CPU tests fast
  .github/workflows/test-linux-cpu.yml
Labels: module: tests, module: ci, cla signed

#6785 fix warnings in prototype transforms test suite
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_consistency.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: module: transforms, module: tests, cla signed, code quality, prototype

#6789 pin pyav to <10
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/windows/scripts/environment.yml
  .github/workflows/test-linux-cpu.yml
  .github/workflows/test-m1.yml
Labels: dependency issue, module: ci, cla signed

#6791 [proto] Some fixes for crestereo
  torchvision/prototype/models/depth/stereo/crestereo.py
Labels: module: models, cla signed, prototype

#6795 improve perf on convert_image_dtype and add tests
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: module: transforms, cla signed, Perf, prototype

#6797 [Nova] Migrate Linux CPU job to Generic Job
  .github/workflows/test-linux-cpu.yml
Labels: cla signed

#6771 Read video from memory newapi
  test/test_videoapi.py
  torchvision/csrc/io/decoder/defs.h
  torchvision/csrc/io/video/video.cpp
  torchvision/csrc/io/video/video.h
  torchvision/io/video_reader.py
Labels: cla signed

#6784 [proto] Speed up adjust color ops
  test/test_prototype_transforms_consistency.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/transforms/functional_tensor.py
Labels: module: transforms, cla signed, Perf, prototype

#6776 another round of perf improvements for equalize
  test/prototype_transforms_kernel_infos.py
  torchvision/prototype/transforms/functional/_color.py
Labels: module: transforms, cla signed, Perf, prototype

#6665 [proto] Enable GPU tests on prototype
  .github/workflows/prototype-tests-gpu.yml
  test/test_prototype_transforms_functional.py
Labels: cla signed

#6807 Unwrap features before passing them into a kernel
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_mask.py
  torchvision/prototype/features/_video.py
  torchvision/prototype/transforms/_meta.py
Labels: module: transforms, cla signed, Perf, prototype

#6800 Add PermuteDimensions and TransposeDimensions transforms
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_utils.py
Labels: enhancement, module: transforms, cla signed, prototype

#6809 Revert "[proto] Enable GPU tests on prototype"
  .github/workflows/prototype-tests-gpu.yml
  test/test_prototype_transforms_functional.py
Labels: cla signed

#6801 Cleanup conversion transforms
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_video.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: module: transforms, cla signed, code quality, prototype

#6783 Add tests and proper support for videos in `ConvertImageDtype`
  test/prototype_common_utils.py
  test/prototype_transforms_dispatcher_infos.py
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms.py
  test/test_prototype_transforms_consistency.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: module: transforms, cla signed, prototype

#6811 [proto] Speed improvement for autocontrast op
  torchvision/prototype/transforms/functional/_color.py
Labels: module: transforms, cla signed, Perf, prototype

#6805 [proto] Speed improvements for adjust hue op
  torchvision/prototype/transforms/functional/_color.py
Labels: module: transforms, cla signed, Perf, prototype

#6820 [prototype] Speed improvement for adjust gamma op
  torchvision/prototype/transforms/functional/_color.py
Labels: module: transforms, cla signed, Perf, prototype

#6821 [prototype] Speed improvement for normalize op
  torchvision/prototype/transforms/functional/_misc.py
Labels: module: transforms, cla signed, Perf, prototype

#6826 revert 255 -> max_value fix
  torchvision/prototype/transforms/functional/_color.py
Labels: module: transforms, cla signed, revert(ed), prototype

#6824 test scalars for mean and std in normalize
  test/prototype_transforms_dispatcher_infos.py
  test/prototype_transforms_kernel_infos.py
Labels: module: transforms, module: tests, cla signed, code quality, prototype

#6828 [prototype] Cleaning up the size dimension methods
  torchvision/prototype/transforms/functional/_meta.py
Labels: module: transforms, cla signed, code quality, prototype

#6831 unwrap features in dispatchers
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_deprecated.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, prototype

#6834 [prototype] Clean up `features` area
  torchvision/prototype/features/__init__.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_mask.py
  torchvision/prototype/features/_video.py
  torchvision/prototype/transforms/functional/_deprecated.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: module: transforms, cla signed, code quality, prototype

#6832 [prototype] Minor improvements on functional
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: module: transforms, cla signed, code quality, prototype

#6833 ignore git warning 'globally'
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
Labels: module: transforms, module: tests, cla signed, code quality, prototype

#6835 [prototype] Speed up Augment Transform Classes
  torchvision/prototype/transforms/_augment.py
Labels: module: transforms, cla signed, Perf, prototype

#6837 [prototype] Minor speed and nit optimizations on Transform Classes
  test/test_prototype_transforms.py
  test/test_prototype_transforms_consistency.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_color.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, Perf, prototype

#6843 Added missing typing annotations in dataset __getitem__
  torchvision/datasets/dtd.py
  torchvision/datasets/fgvc_aircraft.py
  torchvision/datasets/flowers102.py
  torchvision/datasets/food101.py
  torchvision/datasets/rendered_sst2.py
  torchvision/datasets/sun397.py
Labels: cla signed

#6844 Added typing annotations to datasets/lfw
  torchvision/datasets/lfw.py
Labels: cla signed

#6854 Add version 0.14 to readme
  README.rst
Labels: module: documentation, cla signed, release-issue

#6857 silence mypy
  torchvision/prototype/transforms/_augment.py
Labels: module: ci, cla signed, core issue

#6847 extend support of posterize to all integer and floating dtypes
  test/prototype_transforms_kernel_infos.py
  torchvision/prototype/transforms/functional/_color.py
Labels: enhancement, module: transforms, cla signed, prototype

#6859 assume that integer images are [0, 255] in equalize
  torchvision/prototype/transforms/functional/_color.py
Labels: module: transforms, cla signed, prototype

#6860 fix reference tests for convert_format_bounding_box
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
Labels: bug, module: transforms, module: tests, cla signed, prototype

#6803 [Nova] More comprehensive Smoke Tests for Torchvision
  test/smoke_test.py
Labels: cla signed

#6856 [Nova] Add Caller workflow for Linux Conda Builds
  .github/workflows/build-conda-linux.yml
Labels: cla signed

#6855 [Nova] Add Linux Wheels Build Workflow
  .github/workflows/build-wheels-linux.yml
Labels: cla signed

#6863 [Nova] Fix Refs in Build Workflow to use Default GitHub Ref
  .github/workflows/build-conda-linux.yml
Labels: enhancement, module: ci, cla signed

#6858 [prototype] Add support of inplace on `convert_format_bounding_box`
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: module: transforms, cla signed, Perf, prototype

#6870 [iOS] Update Cocoapods for 0.14 release
  ios/LibTorchvision.podspec
Labels: cla signed

#6865 [Nova] Add Caller for Mac x86 Wheels
  .github/workflows/build-wheels-macos.yml
Labels: enhancement, module: ci, cla signed

#6864 [Nova] Pass the smoke test scripts to Reusable Workflow
  .github/workflows/build-conda-linux.yml
  .github/workflows/build-wheels-linux.yml
Labels: enhancement, module: ci, cla signed
