Repository pytorch/vision, pull requests merged in 2022-11, with the labels that each got.

#6876 [proto][tests] Added ref functions for h/v flips
  test/prototype_transforms_kernel_infos.py
Labels: module: transforms, module: tests, cla signed, prototype

#6874 [prototype] Adjust solarize threshold on input type
  torchvision/prototype/transforms/_auto_augment.py
Labels: enhancement, module: transforms, cla signed, prototype

#6877 [proto] Speed-up h/v bboxes flip ops
  torchvision/prototype/transforms/functional/_geometry.py
Labels: cla signed

#6880 [prototype] Optimize Center Crop performance
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, Perf, prototype

#6883 make weights deepcopyable
  test/test_extended_models.py
  torchvision/models/_api.py
Labels: module: models, cla signed, code quality

#6888 [prototype] Gaussian Blur clean up
  torchvision/prototype/transforms/functional/_misc.py
Labels: module: transforms, cla signed, code quality, prototype

#6881 [proto] Speed-up crop on bboxes and tests
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: cla signed

#6893 [Nova] M1 Wheels Builds
  .github/workflows/build-wheels-m1.yml
Labels: cla signed

#6892 [prototype] Clean up and port the resize kernel in V2
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, code quality, prototype

#6890 [proto] Optimized functional pad op for bboxes + tests
  test/prototype_transforms_kernel_infos.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, Perf, prototype

#6895 replace assert torch.allclose with torch.testing.assert_allclose
  test/test_architecture_ops.py
  test/test_ops.py
Labels: module: tests, cla signed, code quality

#6891 [proto] Small optims for perspective bboxes op
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, Perf, prototype

#6879 [proto][tests] added ref tests for resize bboxes
  test/prototype_transforms_kernel_infos.py
Labels: module: transforms, module: tests, cla signed, prototype

#6896 Remaining BBox kernel perf optimizations
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, Perf, prototype

#6894 remove unnecessary checks from pad_image_tensor
  test/prototype_transforms_dispatcher_infos.py
  test/prototype_transforms_kernel_infos.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, code quality, prototype

#6830 Fix hardcoded 255
  test/test_functional_tensor.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/transforms/functional_tensor.py
Labels: module: transforms, cla signed, prototype

#6906 [proto][tests] Fix missing extra_dims in make_bounding_box_loader, cxcywh
  test/prototype_common_utils.py
Labels: cla signed

#6903 replace tensor division with scalar division and tensor multiplication
  test/test_prototype_transforms_consistency.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: module: transforms, cla signed, Perf, prototype

#6897 [proto] Small optims for elastic op on bboxes
  torchvision/prototype/transforms/functional/_geometry.py
Labels: cla signed

#6902 [prototype] Restore BC on perspective
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_mask.py
  torchvision/prototype/features/_video.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: enhancement, module: transforms, cla signed, prototype

#6908 [FBcode->GH] Revert "Pyav backend for VideoReader API (#6598)"
  test/test_video_gpu_decoder.py
  test/test_videoapi.py
  torchvision/__init__.py
  torchvision/io/__init__.py
  torchvision/io/_load_gpu_decoder.py
  torchvision/io/video_reader.py
Labels: cla signed, revert(ed), other

#6905 Add video kernels to dispatcher tests
  test/prototype_transforms_dispatcher_infos.py
  test/prototype_transforms_kernel_infos.py
Labels: module: transforms, module: tests, cla signed, prototype

#6901 fix ONNX tests
  test/test_onnx.py
Labels: module: tests, module: onnx, cla signed

#6907 [proto] Small optim for perspective op on images
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, Perf, prototype

#6913 fix antialias handling on resize and resized_crop
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_mask.py
  torchvision/prototype/features/_video.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: bug, module: transforms, cla signed, prototype

#6866 [Nova] Add Caller for Mac x86 Conda Binaries
  .github/workflows/build-conda-macos.yml
Labels: enhancement, module: ci, cla signed

#6904 add test for dispatcher kernel signature consistency
  test/test_prototype_transforms_functional.py
Labels: module: transforms, module: tests, cla signed, prototype

#6921 add support for fine-grained tolerance settings
  test/prototype_common_utils.py
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
Labels: module: transforms, module: tests, cla signed, prototype

#6914 add a signature consistency tests for v1 vs. v2 dispatchers
  test/test_prototype_transforms_consistency.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_mask.py
  torchvision/prototype/features/_video.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, prototype

#6923 add mitigation for empty bounding boxes
  torchvision/prototype/transforms/functional/_geometry.py
Labels: bug, module: transforms, cla signed, prototype

#6924 add image or video tolerances for CUDA vs CPU tests
  test/prototype_transforms_kernel_infos.py
Labels: module: transforms, module: tests, cla signed, prototype

#6915 [Nova] Caller for Conda M1 builds
  .github/workflows/build-conda-m1.yml
Labels: cla signed

#6930 [prototype] Speed up `adjust_sharpness_image_tensor`
  torchvision/prototype/transforms/functional/_color.py
Labels: module: transforms, cla signed, Perf, prototype

#6926 Update minimum Python version to 3.7.2
  README.rst
  setup.py
Labels: module: documentation, cla signed, other

#6933 [prototype] Speed up `adjust_contrast_image_tensor`
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: module: transforms, cla signed, Perf, prototype

#6941 Replace `getbands()` with `get_image_num_channels()`
  torchvision/transforms/functional.py
Labels: bug, module: transforms, cla signed

#6940 [prototype] Minor change on `adjust_saturation_image_tensor` uint8
  torchvision/prototype/transforms/functional/_color.py
Labels: module: transforms, cla signed, code quality, prototype

#6942 [prototype] Port elastic and minor cleanups
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, Perf, code quality, prototype

#6938 [prototype] Speed up `adjust_hue_image_tensor`
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: module: transforms, cla signed, Perf, prototype

#6934 fix prototype transforms tests with set agg_method
  test/prototype_common_utils.py
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_consistency.py
  test/test_prototype_transforms_functional.py
Labels: bug, module: transforms, module: tests, cla signed, prototype

#6944 Cleanup prototype datasets CI and related things
  .circleci/config.yml
  .circleci/config.yml.in
  .github/workflows/prototype-tests.yml
  torchvision/prototype/__init__.py
  torchvision/prototype/datasets/_builtin/caltech.py
  torchvision/prototype/datasets/_builtin/celeba.py
  torchvision/prototype/datasets/_builtin/clevr.py
  torchvision/prototype/datasets/_builtin/coco.py
  torchvision/prototype/datasets/_builtin/country211.py
  torchvision/prototype/datasets/_builtin/cub200.py
  torchvision/prototype/datasets/_builtin/dtd.py
  torchvision/prototype/datasets/_builtin/eurosat.py
  torchvision/prototype/datasets/_builtin/food101.py
  torchvision/prototype/datasets/_builtin/gtsrb.py
  torchvision/prototype/datasets/_builtin/imagenet.py
  torchvision/prototype/datasets/_builtin/oxford_iiit_pet.py
  torchvision/prototype/datasets/_builtin/sbd.py
  torchvision/prototype/datasets/_builtin/stanford_cars.py
  torchvision/prototype/datasets/_builtin/voc.py
  torchvision/prototype/datasets/_folder.py
  torchvision/prototype/datasets/utils/__init__.py
  torchvision/prototype/datasets/utils/_encoded.py
  torchvision/prototype/features/__init__.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: module: datasets, module: ci, cla signed, prototype

#6936 Adding FLOPs and size to model metadata
  docs/source/conf.py
  test/test_extended_models.py
  torchvision/models/alexnet.py
  torchvision/models/convnext.py
  torchvision/models/densenet.py
  torchvision/models/detection/faster_rcnn.py
  torchvision/models/detection/fcos.py
  torchvision/models/detection/keypoint_rcnn.py
  torchvision/models/detection/mask_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/ssd.py
  torchvision/models/detection/ssdlite.py
  torchvision/models/efficientnet.py
  torchvision/models/googlenet.py
  torchvision/models/inception.py
  torchvision/models/maxvit.py
  torchvision/models/mnasnet.py
  torchvision/models/mobilenetv2.py
  torchvision/models/mobilenetv3.py
  torchvision/models/optical_flow/raft.py
  torchvision/models/quantization/googlenet.py
  torchvision/models/quantization/inception.py
  torchvision/models/quantization/mobilenetv2.py
  torchvision/models/quantization/mobilenetv3.py
  torchvision/models/quantization/resnet.py
  torchvision/models/quantization/shufflenetv2.py
  torchvision/models/regnet.py
  torchvision/models/resnet.py
  torchvision/models/segmentation/deeplabv3.py
  torchvision/models/segmentation/fcn.py
  torchvision/models/segmentation/lraspp.py
  torchvision/models/shufflenetv2.py
  torchvision/models/squeezenet.py
  torchvision/models/swin_transformer.py
  torchvision/models/vgg.py
  torchvision/models/video/mvit.py
  torchvision/models/video/resnet.py
  torchvision/models/video/s3d.py
  torchvision/models/vision_transformer.py
Labels: enhancement, module: models, module: documentation, cla signed

#6949 Fix bug on prototype `pad`
  torchvision/prototype/transforms/functional/_geometry.py
Labels: bug, module: transforms, cla signed, prototype

#6950 [FBcode->GH] Set pytorch vision decoder probesize for getting stream info based on…
  torchvision/csrc/io/decoder/decoder.cpp
  torchvision/csrc/io/decoder/defs.h
Labels: enhancement, module: io, cla signed

#6945 [prototype] Optimize and clean up all affine methods
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_consistency.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, Perf, code quality, prototype

#6953 fix flake8 repo url
  .pre-commit-config.yaml
Labels: dependency issue, cla signed

#6947 fix documentation of _get_inverse_affine_matrix
  torchvision/transforms/functional.py
Labels: enhancement, module: documentation, cla signed

#6952 [NOMERGE] classification reference with v1 tensor backend
  references/classification/presets.py
  references/classification/train.py
Labels: cla signed

#6521 Add Video SwinTransformer
  docs/source/models.rst
  docs/source/models/swin_transformer.rst
  docs/source/models/video_swin_transformer.rst
  test/expect/ModelTester.test_swin3d_b_expect.pkl
  test/expect/ModelTester.test_swin3d_s_expect.pkl
  test/expect/ModelTester.test_swin3d_t_expect.pkl
  torchvision/models/swin_transformer.py
  torchvision/models/video/__init__.py
  torchvision/models/video/swin_transformer.py
Labels: module: models, new feature, cla signed

#6943 Bkorbar/pyavapi
  gallery/plot_video_api.py
  test/test_video_gpu_decoder.py
  test/test_videoapi.py
  torchvision/__init__.py
  torchvision/io/__init__.py
  torchvision/io/_load_gpu_decoder.py
  torchvision/io/video.py
  torchvision/io/video_reader.py
Labels: cla signed

#6956 Don't use named args in MHA calls in VIT Encoder
  torchvision/models/vision_transformer.py
Labels: enhancement, module: models, cla signed

#6963 [FBcode->GH] Cherrypick bkorbar pyavapi
  torchvision/io/__init__.py
  torchvision/io/_load_gpu_decoder.py
  torchvision/io/video.py
Labels: cla signed

#6954 [Nova] Disable Linux Wheels Builds from CircleCI
  .circleci/config.yml
  .circleci/regenerate.py
  .github/workflows/build-wheels-linux.yml
Labels: cla signed

#6939 Update test detection model
  test/test_models.py
Labels: cla signed

#6971 Suppress warning when calling torch.frombuffer with non-writable buffer on _video_opt.py
  torchvision/io/_video_opt.py
Labels: enhancement, module: video, cla signed

#6690 Adding BibTeX entry for TorchVision
  CITATION.cff
  README.rst
Labels: enhancement, module: documentation, cla signed

#6980 fix README rendering
  README.rst
Labels: cla signed, other

#6978 use bitshifts for int to int in convert_dtype
  torchvision/prototype/transforms/functional/_meta.py
Labels: module: transforms, cla signed, prototype

#6977 use non-random images for interpolation kernels for testing
  test/prototype_common_utils.py
  test/prototype_transforms_kernel_infos.py
Labels: module: transforms, module: tests, cla signed, prototype

#6983 [prototype] Remove `_FT` aliases from functional
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: module: transforms, cla signed, code quality, prototype

#6984 Cleanup prototype transforms tests
  test/prototype_common_utils.py
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
Labels: module: transforms, module: tests, cla signed, prototype

#6976 Suppress warning when calling torch.frombuffer with non-writable buffer on VideoReader
  torchvision/io/video_reader.py
Labels: cla signed

#6988 introduce type failures in dispatchers
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/prototype/transforms/functional/_misc.py
  torchvision/prototype/transforms/functional/_temporal.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: module: transforms, cla signed, code quality, prototype

#6972 [Nova] Fix extensions in wheels build
  .github/workflows/build-wheels-linux.yml
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build-wheels-macos.yml
  packaging/post_build_script.sh
  packaging/pre_build_script.sh
  test/smoke_test.py
Labels: cla signed

#6968 [Nova] Disable CircleCI Linux CPU Unittests
  .circleci/config.yml
  .circleci/regenerate.py
Labels: cla signed

#6989 expose some prototype transforms utils
  test/test_prototype_transforms.py
  test/test_prototype_transforms_consistency.py
  test/test_prototype_transforms_utils.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_color.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_transform.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/utils.py
Labels: module: transforms, cla signed, code quality, prototype

#6995 add minor tolerance for flaky bounding box test
  test/prototype_transforms_kernel_infos.py
Labels: module: transforms, module: tests, cla signed, prototype

#6987 [Nova] Disable Macos Wheels from CircleCI
  .circleci/config.yml
  .circleci/regenerate.py
  .github/workflows/build-m1-binaries.yml
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build-wheels-macos.yml
Labels: cla signed
