Repository pytorch/vision, pull requests merged in 2022-09, with the labels that each got.

#6528 fix bounding box padding
  torchvision/prototype/features/_bounding_box.py
Labels: bug, module: transforms, cla signed, prototype

#6531 only allow 1 image or bounding box instead of 1 or 2
  torchvision/prototype/transforms/_utils.py
Labels: bug, cla signed, prototype

#6530 [proto] Fix BC for inplace arg in Normalize and RandomErasing
  test/test_prototype_transforms.py
  test/test_prototype_transforms_consistency.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_misc.py
Labels: module: transforms, cla signed, prototype

#6532 [proto] Fixed issue in FixedSizeCrop
  torchvision/prototype/transforms/_geometry.py
Labels: bug, module: transforms, cla signed, prototype

#6501 update roipool to make it torch fx traceable
  test/test_ops.py
  torchvision/ops/ps_roi_align.py
  torchvision/ops/ps_roi_pool.py
  torchvision/ops/roi_align.py
  torchvision/ops/roi_pool.py
Labels: bug, module: ops, cla signed

#6536 Fix incorrect recipe for SSDlite320
  references/detection/README.md
Labels: module: documentation, cla signed

#6537 Update S3D weights
  references/video_classification/README.md
  torchvision/models/video/s3d.py
Labels: enhancement, module: models, cla signed

#6539 Skip big models per platform/device
  test/test_models.py
Labels: enhancement, module: tests, cla signed

#6541 [proto] Fixed bug in ScaleJitter with params
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/_geometry.py
Labels: bug, module: transforms, cla signed, prototype

#6542 fix padding for degenerate segmentation masks
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: bug, module: transforms, cla signed, prototype

#6544 Cleanup prototype kernels for degenerate inputs
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, prototype

#6351 Added CREStereo dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/_stereo_matching.py
Labels: cla signed

#6546 [proto] Fixed xfailed geom functional segm mask tests
  test/test_prototype_transforms_functional.py
Labels: cla signed

#6552 extract common utils for prototype transform tests
  test/prototype_common_utils.py
  test/test_prototype_transforms.py
  test/test_prototype_transforms_consistency.py
  test/test_prototype_transforms_functional.py
  test/test_prototype_transforms_utils.py
Labels: module: transforms, module: tests, cla signed, code quality, prototype

#6551 Fix swapped width and height in DefaultBoxGenerator
  torchvision/models/detection/anchor_utils.py
Labels: bug, module: models, cla signed

#6350 Added Middlebury2014 dataset
  docs/source/datasets.rst
  test/test_datasets.py
  torchvision/datasets/__init__.py
  torchvision/datasets/_stereo_matching.py
Labels: module: datasets, new feature, cla signed

#6560 Make get_model_builder public
  test/test_extended_models.py
  test/test_models.py
  torchvision/models/__init__.py
  torchvision/models/_api.py
Labels: module: models, new feature, cla signed

#6565 Add missing `handle_legacy_interface()` calls
  test/test_extended_models.py
  torchvision/models/detection/faster_rcnn.py
  torchvision/models/detection/mask_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/quantization/resnet.py
  torchvision/models/quantization/shufflenetv2.py
  torchvision/models/resnet.py
  torchvision/models/swin_transformer.py
  torchvision/models/video/mvit.py
  torchvision/models/video/s3d.py
  torchvision/models/vision_transformer.py
  torchvision/prototype/models/depth/stereo/raft_stereo.py
Labels: bug, module: models, cla signed

#6561 port RandomResize from segmentation references
  test/test_prototype_transforms.py
  torchvision/prototype/transforms/__init__.py
  torchvision/prototype/transforms/_geometry.py
Labels: module: transforms, module: reference scripts, topic: semantic segmentation, cla signed, prototype

#6571 Update to rocm5.2 nightly wheels
  .circleci/config.yml
  .circleci/regenerate.py
Labels: enhancement, module: ci, module: rocm, cla signed

#6572 Adding feature classifications for new Video models
  torchvision/models/video/mvit.py
  torchvision/models/video/s3d.py
Labels: enhancement, module: documentation, cla signed

#6076 Fully exhaust datapipes that are needed to construct a dataset
  torchvision/prototype/datasets/_builtin/cub200.py
  torchvision/prototype/datasets/_builtin/imagenet.py
Labels: module: datasets, cla signed, prototype

#6578 Install NVJPEG on Windows for 11.6 and 11.7 CUDA
  packaging/windows/internal/cuda_install.bat
Labels: cla signed

#6576 fix resize for segmentation masks without channel dimension
  torchvision/prototype/transforms/functional/_geometry.py
Labels: bug, module: transforms, cla signed, prototype

#6579 Rename features.SegmentationMask to features.Mask
  test/prototype_common_utils.py
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  test/test_prototype_transforms_utils.py
  torchvision/prototype/features/__init__.py
  torchvision/prototype/features/_mask.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: cla signed, code quality, prototype, module: features

#6575 Update RAFT Stereo to be more sync with CREStereo implementation
  torchvision/prototype/models/depth/stereo/raft_stereo.py
Labels: enhancement, module: models, cla signed, prototype

#6567 CUDA 11.3 remove. New Stable version is 11.6
  .circleci/config.yml
  .circleci/config.yml.in
  .circleci/regenerate.py
  .circleci/unittest/windows/scripts/install.sh
  .circleci/unittest/windows/scripts/set_cuda_envs.sh
  packaging/build_cmake.sh
  packaging/pkg_helpers.bash
Labels: cla signed

#6581 Fix issues with `get_image_size()`
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_deprecated.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/transforms/transforms.py
Labels: enhancement, module: transforms, cla signed, prototype

#6583 [vision_transformer] Make the assert message more verbose
  torchvision/models/vision_transformer.py
Labels: enhancement, module: models, cla signed

#6582 Rename `convert_bounding_box_format` => `convert_format_bounding_box`
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: module: transforms, cla signed, code quality, prototype

#6585 Fix the error message of `_ovewrite_value_param`
  torchvision/models/_utils.py
  torchvision/models/detection/faster_rcnn.py
  torchvision/models/detection/fcos.py
  torchvision/models/detection/keypoint_rcnn.py
  torchvision/models/detection/mask_rcnn.py
  torchvision/models/detection/retinanet.py
  torchvision/models/detection/ssd.py
  torchvision/models/detection/ssdlite.py
  torchvision/models/segmentation/deeplabv3.py
  torchvision/models/segmentation/fcn.py
  torchvision/models/segmentation/lraspp.py
Labels: bug, module: models, cla signed

#5879 refactor prototype transforms functional tests
  test/prototype_common_utils.py
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  test/test_prototype_transforms_kernels.py
Labels: module: transforms, module: tests, cla signed, prototype

#6587 reduce verbosity of prototype tests and split them into multiple steps
  .github/workflows/prototype-tests.yml
  test/test_prototype_datasets_builtin.py
Labels: module: tests, cla signed, code quality, prototype

#6586 [proto] Argument fill can accept dict of base types
  test/test_prototype_transforms.py
  torchvision/prototype/features/_mask.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: cla signed

#6566 [proto] Added consistency tests for detection transforms
  test/test_prototype_transforms_consistency.py
Labels: module: transforms, module: tests, topic: object detection, cla signed, prototype

#6310 add crestereo implementation
  test/expect/ModelTester.test_crestereo_base_expect.pkl
  test/test_prototype_models.py
  torchvision/models/optical_flow/_utils.py
  torchvision/models/optical_flow/raft.py
  torchvision/prototype/models/depth/stereo/__init__.py
  torchvision/prototype/models/depth/stereo/crestereo.py
Labels: module: models, new feature, cla signed

#6588 Remove aliases for `PILToTensor` and `pil_to_tensor()`
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_color.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: enhancement, module: transforms, cla signed, prototype

#6590 Switch to use conda install action for m1 builds
  .github/workflows/build-m1-binaries.yml
Labels: enhancement, module: ci, cla signed

#6592 [FBcode->GH] Fix vit model assert text to be compatible with torchmultimodal
  torchvision/models/vision_transformer.py
Labels: bug, fb-exported, cla signed

#6594 Update typehint for fill arg in rotate
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/transforms/functional_tensor.py
Labels: cla signed

#6596 improve prototype transforms kernel tests
  test/prototype_common_utils.py
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
  test/test_prototype_transforms_kernels.py
Labels: module: transforms, module: tests, cla signed, code quality, prototype

#6597 retain input dtype in all prototype transforms kernels
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
  test/test_prototype_transforms_kernels.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
Labels: bug, module: transforms, cla signed, prototype

#6540 [proto] Added extra_repr to Compose
  torchvision/prototype/transforms/_container.py
Labels: module: transforms, cla signed, prototype

#6601 Bump tol for autocasted `fasterrcnn_resnet50_fpn`
  test/test_models.py
Labels: cla signed

#6562 [proto] Few minor code improvements
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_geometry.py
Labels: enhancement, module: transforms, cla signed, prototype

#6595 Updated fill arg typehint for affine, perspective and elastic ops
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_mask.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/transforms/functional_tensor.py
Labels: module: transforms, cla signed, code quality, prototype

#6599 [proto] Added dict support for fill arg for remaining transforms
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/transforms/functional_tensor.py
Labels: cla signed

#6593 Remove warnings pytest models
  test/test_datasets.py
  test/test_models.py
  torchvision/models/quantization/googlenet.py
  torchvision/models/quantization/inception.py
  torchvision/models/quantization/mobilenetv3.py
Labels: cla signed

#6584 Make prototype `F` JIT-scriptable
  test/prototype_transforms_dispatcher_infos.py
  test/test_prototype_transforms.py
  test/test_prototype_transforms_dispatchers.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/__init__.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_type_conversion.py
  torchvision/prototype/transforms/functional/__init__.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_deprecated.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/prototype/transforms/functional/_misc.py
  torchvision/prototype/transforms/functional/_type_conversion.py
Labels: enhancement, module: transforms, cla signed, prototype

#6616 [proto] Aligned fill, padding typehints between Features and F
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_mask.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: cla signed

#6618 fix: fix the typo in comment in mvit.py
  torchvision/models/video/mvit.py
Labels: cla signed

#6617 [proto] Fixed F.perspective signature
  test/prototype_transforms_dispatcher_infos.py
  test/test_prototype_transforms.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: enhancement, module: transforms, cla signed, prototype

#6615 Fixed issue with F.crop when cropping outside the input image
  test/test_functional_tensor.py
  torchvision/transforms/functional_tensor.py
Labels: bug, module: transforms, cla signed

#6620 [proto] Fixed fill arg for perspective_image_pil
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, code quality, prototype

#6612 port prototype transforms kernel tests to new architecture
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
  test/test_prototype_transforms_kernels.py
Labels: module: transforms, module: tests, cla signed, prototype

#6554 Add stereo matching losses
  references/depth/stereo/utils/losses.py
Labels: module: reference scripts, new feature, cla signed

#6549 Add stereo preset transforms
  references/depth/stereo/presets.py
  references/depth/stereo/transforms.py
  torchvision/prototype/transforms/_presets.py
Labels: module: reference scripts, new feature, cla signed

#6621 [proto] Fixed fill type in AA
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_utils.py
Labels: enhancement, module: transforms, cla signed, prototype

#6622 cleanup prototype transforms functional tests
  test/common_utils.py
  test/prototype_transforms_dispatcher_infos.py
  test/test_prototype_transforms_dispatchers.py
  test/test_prototype_transforms_functional.py
  test/test_prototype_transforms_kernels.py
Labels: module: transforms, module: tests, cla signed, code quality, prototype

#6626 add more KernelInfo's and DispatcherInfo's
  test/prototype_transforms_dispatcher_infos.py
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
Labels: module: transforms, module: tests, cla signed, prototype

#6634 Fix typo in category info of EuroSAT.
  torchvision/prototype/datasets/_builtin/eurosat.py
Labels: cla signed

#6630 add coverage to prototype tests CI
  .github/workflows/prototype-tests.yml
Labels: module: tests, module: ci, cla signed, prototype

#6342 MaxVit model
  docs/source/models.rst
  docs/source/models/maxvit.rst
  references/classification/README.md
  references/classification/presets.py
  references/classification/train.py
  test/expect/ModelTester.test_maxvit_t_expect.pkl
  test/test_architecture_ops.py
  torchvision/models/__init__.py
  torchvision/models/maxvit.py
Labels: cla signed

#6627 [prototype] Align and Clean up transform types
  test/test_prototype_transforms.py
  torchvision/prototype/features/__init__.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_mask.py
  torchvision/prototype/transforms/_augment.py
  torchvision/prototype/transforms/_auto_augment.py
  torchvision/prototype/transforms/_color.py
  torchvision/prototype/transforms/_deprecated.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_meta.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_color.py
  torchvision/prototype/transforms/functional/_deprecated.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_meta.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: module: transforms, cla signed, code quality, prototype

#6633 always run all prototype tests in CI
  .github/workflows/prototype-tests.yml
Labels: module: ci, cla signed, code quality, prototype

#6605 Add stereo train loop
  references/depth/stereo/README.md
  references/depth/stereo/__init__.py
  references/depth/stereo/assets/Disparity background mode collapse.jpg
  references/depth/stereo/assets/Disparity domain drift.jpg
  references/depth/stereo/assets/Gradient Norm Removal.jpg
  references/depth/stereo/assets/Loss.jpg
  references/depth/stereo/cascade_evaluation.py
  references/depth/stereo/parsing.py
  references/depth/stereo/train.py
  references/depth/stereo/utils/__init__.py
  references/depth/stereo/utils/distributed.py
  references/depth/stereo/utils/logger.py
  references/depth/stereo/utils/metrics.py
  references/depth/stereo/utils/norm.py
  references/depth/stereo/utils/padder.py
  references/depth/stereo/vizualization.py
Labels: module: reference scripts, new feature, cla signed

#6629 Add CREStereo weights.
  torchvision/prototype/models/depth/stereo/crestereo.py
  torchvision/prototype/transforms/__init__.py
Labels: cla signed, weights

#6637 DOC: add limitation of decode_jpeg in the function docstring
  torchvision/io/image.py
Labels: cla signed

#6591 add segmentation reference consistency tests
  test/prototype_common_utils.py
  test/test_prototype_transforms_consistency.py
Labels: module: transforms, module: tests, topic: semantic segmentation, cla signed, prototype

#6644 swap MD5 checksums of PCAM val and test split
  torchvision/datasets/pcam.py
Labels: bug, module: datasets, cla signed

#6650 Move cirecleci cpu jobs to manylinux-cpu instead of manylinux-cuda102
  .circleci/config.yml
  .circleci/config.yml.in
  .circleci/regenerate.py
Labels: cla signed

#6641 Ignore deprecation warning from traverse function
  test/test_prototype_datasets_builtin.py
Labels: cla signed

#6638 Link for downloading SBU dataset has changed. Enable the test again
  test/test_datasets_download.py
  torchvision/datasets/sbu.py
Labels: cla signed

#6652 fix mypy errors after the 0.981 release
  torchvision/models/_api.py
  torchvision/prototype/datasets/utils/_internal.py
Labels: dependency issue, cla signed, code quality

#6635 diversify parameter types for a couple of prototype kernels
  test/prototype_transforms_dispatcher_infos.py
  test/prototype_transforms_kernel_infos.py
Labels: bug, module: transforms, module: tests, cla signed, prototype

#6657 Replace `torch.utils.data.graph.traverse` with `traverse_dps`
  test/test_prototype_datasets_builtin.py
Labels: cla signed

#6258 Remove deprecated APIs for 0.14
  docs/source/datasets.rst
  test/test_datasets.py
  test/test_datasets_download.py
  test/test_functional_tensor.py
  test/test_transforms.py
  torchvision/datasets/__init__.py
  torchvision/datasets/kinetics.py
  torchvision/datasets/voc.py
  torchvision/models/mobilenetv2.py
  torchvision/models/mobilenetv3.py
  torchvision/models/segmentation/segmentation.py
  torchvision/ops/poolers.py
  torchvision/transforms/functional.py
  torchvision/transforms/transforms.py
  torchvision/utils.py
Labels: cla signed

#6660 Temporarily disable the autocast test for `fasterrcnn_resnet50_fpn`
  test/test_models.py
Labels: enhancement, module: tests, cla signed

#6636 [prototype] Fix BC-breakages on input params of `F`
  test/test_prototype_transforms.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/features/_image.py
  torchvision/prototype/features/_mask.py
  torchvision/prototype/transforms/_geometry.py
  torchvision/prototype/transforms/_misc.py
  torchvision/prototype/transforms/_utils.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: enhancement, module: transforms, cla signed, prototype

#6649 Removing cuda 102
  .circleci/config.yml
  .circleci/config.yml.in
  .circleci/regenerate.py
  .circleci/unittest/linux/scripts/install.sh
  packaging/pkg_helpers.bash
  packaging/windows/internal/cuda_install.bat
Labels: cla signed

#6648 Cleanup prototype kernel signatures
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/transforms/functional/_augment.py
  torchvision/prototype/transforms/functional/_geometry.py
  torchvision/prototype/transforms/functional/_misc.py
Labels: module: transforms, cla signed, code quality, prototype

#6661 Hack to improve performance of resize op with nearest mode on 2D
  torchvision/prototype/transforms/functional/_geometry.py
Labels: enhancement, cla signed, Perf, prototype

#6654 Update the expected removal date for several deprecated API for release v0.14
  torchvision/models/_utils.py
  torchvision/transforms/_functional_video.py
  torchvision/transforms/_transforms_video.py
Labels: cla signed

#6646 [PoC] move metadata computation from prototype features into kernels
  test/prototype_transforms_kernel_infos.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/_bounding_box.py
  torchvision/prototype/transforms/functional/_geometry.py
Labels: module: transforms, cla signed, prototype, module: features

#6666 [FBcode->GH] Rename asset files to remove spaces
  references/depth/stereo/README.md
  references/depth/stereo/assets/disparity-background-mode-collapse.jpg
  references/depth/stereo/assets/disparity-domain-drift.jpg
  references/depth/stereo/assets/gradient-norm-removal.jpg
Labels: enhancement, cla signed, code quality

#6095 prevent feature wrapping if the feature is not the primary operand
  .github/workflows/prototype-tests.yml
  test/test_prototype_features.py
  torchvision/prototype/features/_feature.py
Labels: cla signed, prototype, module: features

#5806 cleanup features._Feature
  torchvision/prototype/features/_feature.py
Labels: cla signed, code quality, prototype, module: features

#6671 handle inplace operations in _Feature.__torch_function__
  test/test_prototype_features.py
  test/test_prototype_transforms_functional.py
  torchvision/prototype/features/_feature.py
  torchvision/prototype/transforms/functional/_misc.py
  torchvision/transforms/functional_tensor.py
Labels: cla signed, prototype, module: features
