Repository pytorch/vision, pull requests merged in 2023-09, with the labels that each got.

#7924 Use regular env setup
  .github/scripts/setup-env.sh
Labels: cla signed

#7926 Use regular env setup
  .github/scripts/setup-env.sh
Labels: module: ci, cla signed

#7929 Automate release changes
  packaging/cut_release.sh
Labels: cla signed

#7928 allow len 1 sequences for fill with PIL
  test/test_transforms_v2_refactored.py
  test/transforms_v2_dispatcher_infos.py
  torchvision/transforms/_functional_pil.py
Labels: enhancement, module: transforms, cla signed

#7933 port convert_bounding_box_format tests
  test/test_transforms_v2_functional.py
  test/test_transforms_v2_refactored.py
  test/transforms_v2_dispatcher_infos.py
  test/transforms_v2_kernel_infos.py
Labels: module: transforms, module: tests, cla signed

#7934 port tests for F.resized_crop and RandomResizedCrop
  test/test_transforms_v2.py
  test/test_transforms_v2_consistency.py
  test/test_transforms_v2_functional.py
  test/test_transforms_v2_refactored.py
  test/transforms_v2_dispatcher_infos.py
  test/transforms_v2_kernel_infos.py
Labels: module: transforms, module: tests, cla signed

#7935 port tests for F.gaussian_blur GaussianBlur
  test/test_transforms_v2_consistency.py
  test/test_transforms_v2_functional.py
  test/test_transforms_v2_refactored.py
  test/transforms_v2_dispatcher_infos.py
  test/transforms_v2_kernel_infos.py
Labels: module: transforms, module: tests, cla signed

#7941 Update versions in readme.md
  README.md
Labels: cla signed

#7940 Update version to 0.17
  README.md
  version.txt
Labels: cla signed

#7939 port tests for F.pad and transforms.Pad
  test/test_transforms_v2.py
  test/test_transforms_v2_consistency.py
  test/test_transforms_v2_functional.py
  test/test_transforms_v2_refactored.py
  test/transforms_v2_dispatcher_infos.py
  test/transforms_v2_kernel_infos.py
Labels: module: transforms, module: tests, cla signed

#7942 Avoid creating a tensor of shape when not tracing
  torchvision/models/detection/transform.py
Labels: cla signed

#7950 allow float fill for integer images in F.pad
  test/test_transforms_v2_refactored.py
  torchvision/transforms/v2/functional/_geometry.py
Labels: enhancement, module: transforms, cla signed

#7946 port tests for F.center_crop and transforms.CenterCrop
  test/test_transforms_v2_consistency.py
  test/test_transforms_v2_functional.py
  test/test_transforms_v2_refactored.py
  test/transforms_v2_dispatcher_infos.py
  test/transforms_v2_kernel_infos.py
Labels: module: transforms, module: tests, cla signed

#7951 [CHERRYPICK] PIL fill len 1 seq / float fill for int images
  test/test_transforms_v2_refactored.py
  test/transforms_v2_dispatcher_infos.py
  torchvision/transforms/_functional_pil.py
  torchvision/transforms/v2/functional/_geometry.py
Labels: cla signed

#7943 port tests for F.perspective and transforms.RandomPerspective
  test/test_transforms_v2.py
  test/test_transforms_v2_consistency.py
  test/test_transforms_v2_functional.py
  test/test_transforms_v2_refactored.py
  test/transforms_v2_dispatcher_infos.py
  test/transforms_v2_kernel_infos.py
  torchvision/transforms/v2/_geometry.py
  torchvision/transforms/v2/functional/_geometry.py
Labels: module: transforms, module: tests, cla signed

#7944 Meta implementation for nms
  torchvision/_meta_registrations.py
Labels: cla signed

#7957 Update docstring example for resnet_fpn_backbone
  torchvision/models/detection/backbone_utils.py
Labels: cla signed

#7966 replace c10::stoi with std::stoi
  torchvision/csrc/io/video/video.cpp
Labels: module: video, cla signed, core issue

#7970 mark SBU download as not accessible in tests
  test/test_datasets_download.py
Labels: module: datasets, dependency issue, cla signed

#7968 port tests for transforms.ColorJitter
  test/test_transforms_v2_consistency.py
  test/test_transforms_v2_refactored.py
Labels: module: transforms, module: tests, cla signed

#7963 Add missing model tracing step to cpp example readme, fixes #7952
  examples/cpp/hello_world/README.rst
Labels: cla signed

#7976 mark SBU as downloadable again
  test/test_datasets_download.py
Labels: module: datasets, module: tests, cla signed

#7981 exclude onnxruntime==1.16.0 in CI
  .github/workflows/tests.yml
Labels: module: onnx, dependency issue, module: ci, cla signed

#7978 Fix issue 7911
  torchvision/transforms/functional.py
  torchvision/transforms/transforms.py
Labels: bug, module: transforms, module: documentation, cla signed

#7982 Update InferenceSession call to latest format
  .github/workflows/tests.yml
  test/test_onnx.py
Labels: module: tests, module: onnx, cla signed

#7916 Correct Confusion Matrix All-reduce to display correct IoUs on the master process
  references/segmentation/utils.py
Labels: cla signed

#7989 Fix typo in ToPureTensor docstring
  torchvision/transforms/v2/_type_conversion.py
Labels: enhancement, module: documentation, cla signed

#7967 port tests for rgb_to_grayscale functional and transforms
  test/test_transforms_v2.py
  test/test_transforms_v2_consistency.py
  test/test_transforms_v2_refactored.py
Labels: module: transforms, module: tests, cla signed

#7975 port tests for transforms.RandomZoomOut
  test/test_transforms_v2.py
  test/test_transforms_v2_refactored.py
  torchvision/transforms/v2/_geometry.py
Labels: module: transforms, module: tests, cla signed

#7949 Change antialias default from None to True
  test/smoke_test.py
  test/test_functional_tensor.py
  test/test_models.py
  test/test_transforms.py
  test/test_transforms_tensor.py
  test/test_transforms_v2.py
  test/test_transforms_v2_refactored.py
  torchvision/transforms/_functional_tensor.py
  torchvision/transforms/_presets.py
  torchvision/transforms/functional.py
  torchvision/transforms/transforms.py
  torchvision/transforms/v2/_geometry.py
  torchvision/transforms/v2/functional/_geometry.py
Labels: cla signed

#7973 port tests for RandomPhotometricDistort
  test/test_transforms_v2.py
  test/test_transforms_v2_refactored.py
Labels: module: transforms, module: tests, cla signed

#7954 Port remaining transforms tests
  test/test_transforms_v2.py
  test/test_transforms_v2_consistency.py
  test/test_transforms_v2_functional.py
  test/test_transforms_v2_refactored.py
  test/transforms_v2_dispatcher_infos.py
  test/transforms_v2_kernel_infos.py
  test/transforms_v2_legacy_utils.py
  torchvision/transforms/v2/_color.py
  torchvision/transforms/v2/functional/_meta.py
Labels: module: transforms, module: tests, cla signed

#8000 add ffmpeg version pin to video backend in README
  README.md
Labels: module: documentation, module: video, cla signed

#8001 port tests for transforms.ScaleJitter
  test/test_transforms_v2.py
  test/test_transforms_v2_refactored.py
Labels: module: transforms, module: tests, cla signed

#7999 allow size to be generic Sequence
  test/test_transforms_v2_refactored.py
  torchvision/transforms/v2/_geometry.py
Labels: cla signed

#7962 port sample input smoke test
  test/common_utils.py
  test/test_transforms_v2.py
  test/test_transforms_v2_consistency.py
  test/test_transforms_v2_refactored.py
Labels: module: transforms, module: tests, cla signed

#8002 Fixes documentation typo from semantic segmentation reference
  references/segmentation/README.md
Labels: cla signed
