Repository pytorch/vision, pull requests merged in 2024-04, with the labels that each got.

#8350 Update the download url in class EMNIST
  torchvision/datasets/mnist.py
Labels: bug, module: datasets, cla signed

#8383 Update classify_prs notebook
  maintainer_guide.md
  scripts/release_notes/classify_prs.py
Labels: cla signed

#8262 Add expected shapes in tvtensors docs
  torchvision/tv_tensors/_bounding_boxes.py
  torchvision/tv_tensors/_image.py
  torchvision/tv_tensors/_mask.py
  torchvision/tv_tensors/_video.py
Labels: cla signed

#8386 Typo: bouding -> bounding
  gallery/transforms/plot_transforms_e2e.py
  test/test_transforms_v2.py
  torchvision/transforms/v2/functional/_misc.py
Labels: enhancement, module: documentation, cla signed

#8328 add float support to `utils.draw_bounding_boxes()`
  test/test_utils.py
  torchvision/utils.py
Labels: cla signed

#8392 Correct typos in Classification README.md
  references/classification/README.md
Labels: cla signed

#8393 Add concrete_args to feature extraction tracing.
  torchvision/models/feature_extraction.py
Labels: enhancement, topic: feature extraction, cla signed
